@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pl05 {
  padding-left: 5px;
}

.pr {
  padding-right: 5px;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	color
------------------------------------------------------------*/
.color-brown {
  color: #b28850;
}

.color-ocean {
  color: #21a5aa;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-text-size-adjust: auto;
  min-width: 960px;
}

@media (max-width: 736px) {
  body {
    min-width: auto;
  }
}

.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 2px rgba(17, 17, 17, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 2px rgba(17, 17, 17, 0.2);
}

@media (max-width: 736px) {
  .container {
    max-width: 600px;
    width: 100%;
  }
}

.l-main {
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 736px) {
  img {
    max-width: 100%;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  border-top: 4px solid #21a5aa;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #4d4a48;
  padding: 0 20px;
}

@media (max-width: 736px) {
  #header {
    border-width: 2px;
    border-bottom: none;
  }
}

@media (max-width: 736px) {
  #header .logo img {
    width: 29px;
    height: auto;
  }
}

#header .tagline {
  padding-top: 20px;
  padding-left: 15px;
  color: #333;
}

@media (max-width: 736px) {
  #header .tagline {
    padding-top: 9px;
    padding-left: 7px;
    font-size: 0.8rem;
    padding-bottom: 7px;
  }
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-top: 20px;
}

#gNavi li {
  float: left;
  display: block;
  position: relative;
  margin-left: 1px;
  border-bottom: 4px solid transparent;
}

#gNavi li:hover {
  border-color: #ddd;
}

#gNavi li:last-child:after {
  widtH: 1px;
  background-color: #ddd;
  height: 40px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

#gNavi li:before {
  widtH: 1px;
  background-color: #ddd;
  height: 40px;
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
}

#gNavi li a {
  display: block;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

#pagePath li {
  display: inline;
  position: relative;
  font-size: 1.2rem;
}

#pagePath li:after {
  content: ">";
}

#pagePath li:first-child {
  text-transform: uppercase;
}

#pagePath li:last-child:after {
  content: "";
}

#pagePath li a {
  font-size: 1.2rem;
  margin-right: 3px;
  color: #0f5c9b;
}

#pagePath li a:hover {
  text-decoration: none;
}

/*------------------------------------------------------------
	Page title
------------------------------------------------------------*/
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/*------------------------------------------------------------
	block
------------------------------------------------------------*/
.block {
  padding: 0 35px;
}

@media (max-width: 736px) {
  .block {
    padding: 0 10px;
  }
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  margin-top: 37px;
}

#footer .content {
  text-align: left;
  width: 550px;
  margin: auto;
  font-size: 1.4rem;
  color: #848484;
  padding-bottom: 20px;
}

#footer .content img {
  float: left;
  margin-right: 15px;
}

@media (max-width: 736px) {
  #footer .content {
    width: 100%;
  }
}

#footer .copy {
  background-color: #fbf6f8;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 7px;
  padding-bottom: 8px;
}

@media (max-width: 736px) {
  #footer .copy span {
    display: block;
  }
}

#footer .sp_link {
  border-top: 2px solid #d2d2d2;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  margin-top: 5px;
}

#footer .sp_link a {
  color: #21a5aa;
  display: block;
  text-align: center;
}

/*------------------------------------------------------------
	media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 736px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 736px) {
  .sp-only {
    display: block;
  }
}

.cover {
  height: 6072px;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: url(../img/index_pc.png) no-repeat center top;
  width: 100%;
}

a:hover img {
  opacity: 0.7;
}

/*------------------------------------------------------------
	button
------------------------------------------------------------*/
/*------------------------------------------------------------
	uti
------------------------------------------------------------*/
.ie .c-price .items .priceAmount .left {
  font-size: 1.3rem;
}

/*------------------------------------------------------------
	media
------------------------------------------------------------*/
