@charset "UTF-8";
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.c-main__visual {
  margin-top: -38px;
  position: relative;
  margin-bottom: 22px;
}

.c-main__visual .text {
  position: absolute;
  left: 40px;
  top: 183px;
}

.c-main__visual .text-bottom {
  top: 301px;
}

@media (max-width: 736px) {
  .c-main__visual .text {
    top: auto;
    bottom: 38%;
    left: 15px;
  }
  .c-main__visual .text-bottom {
    top: auto;
    bottom: 18%;
  }
}

.c-main__visual a {
  position: absolute;
  right: 30px;
  bottom: 35px;
}

@media (max-width: 736px) {
  .c-main__visual a {
    bottom: 17%;
    right: 15px;
  }
}

@media (max-width: 736px) {
  .c-main__visual {
    margin-top: -29px;
    margin-bottom: 0;
  }
}

.c-price {
  margin-bottom: 25px;
}

.c-price h3 {
  margin-bottom: 21px;
}

@media (max-width: 736px) {
  .c-price h3 {
    margin-bottom: 13px;
  }
}

.c-price .items {
  background: url(../img/bg_price_items.png) no-repeat;
  width: 290px;
  height: 266px;
  float: left;
  padding: 7px 14px;
  margin-right: 10px;
}

.c-price .items:nth-child(2n) {
  padding-right: 10px;
}

.c-price .items:nth-child(2n) .priceAmount {
  padding: 0;
}

.c-price .items:nth-child(2n) .priceAmount .left span {
  margin-left: -2px;
  margin-top: 2px;
  margin-right: -2px;
}

.c-price .items:nth-child(3n) {
  padding-right: 10px;
  margin-right: 0;
}

.c-price .items:nth-child(3n) .priceAmount {
  padding: 0;
}

.c-price .items:nth-child(3n) .priceAmount .p {
  padding-left: 10px;
  letter-spacing: -1px;
}

.c-price .items:nth-child(3n) .priceAmount .s {
  padding-left: 10px;
}

.c-price .items:nth-child(3n) .priceAmount .left span {
  margin-left: -2px;
  margin-top: -2px;
  margin-right: -2px;
}

.c-price .items:nth-child(3n) .textBottom {
  margin-left: 0;
  letter-spacing: -0.8px;
}

.c-price .items .topText {
  font-size: 2rem;
  color: #4d4a48;
  font-weight: bold;
  margin-bottom: 3px;
  text-align: center;
}

@media (max-width: 736px) {
  .c-price .items .topText {
    font-size: 1rem;
  }
}

.c-price .items .textBottom {
  margin-top: 5px;
  margin-left: 19px;
  letter-spacing: 1px;
}

@media (max-width: 736px) {
  .c-price .items .textBottom {
    margin-left: 0;
    margin-top: 5px;
  }
}

.c-price .items h4 {
  margin-bottom: 8px;
}

@media (max-width: 736px) {
  .c-price .items h4 {
    text-align: center;
    background-color: #4d4a48;
    margin-bottom: 4px;
  }
  .c-price .items h4 img {
    width: 130px;
    height: auto;
  }
}

.c-price .items .priceAmount {
  padding: 0 5px;
}

.c-price .items .priceAmount .left {
  float: left;
  width: 38px;
  font-size: 1.4rem;
}

.c-price .items .priceAmount .left span {
  margin-left: -6px;
}

@media (max-width: 736px) {
  .c-price .items .priceAmount .left {
    width: 20px;
    margin-right: 5px;
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 415px) and (max-width: 736px) {
  .c-price .items .priceAmount .left {
    width: 40px;
  }
}

.c-price .items .priceAmount .p {
  padding-top: 4px;
  padding-left: 4px;
  overflow: hidden;
}

.c-price .items .priceAmount .p p {
  margin-top: 2px;
}

@media (max-width: 736px) {
  .c-price .items .priceAmount .p {
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 736px) {
  .c-price .items .priceAmount .p {
    margin-top: 15px;
  }
}

.c-price .items .priceAmount .s {
  padding-top: 29px;
  padding-left: 7px;
  overflow: hidden;
}

@media (max-width: 736px) {
  .c-price .items .priceAmount .s {
    padding-top: 10px;
  }
}

@media (max-width: 736px) {
  .c-price .items {
    width: 48%;
    font-size: 0.7rem;
    padding: 4px 7px;
    background-size: cover;
    background-position: center top;
    height: auto;
    margin-bottom: 10px;
    min-height: 165px;
  }
  .c-price .items-nobg {
    background: none;
    padding: 0 !important;
  }
  .c-price .items-nobg img {
    width: 200px;
  }
  .c-price .items:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .c-price .items:nth-child(3n) .priceAmount .left {
    width: 26px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 415px) and (max-width: 736px) {
  .c-price .items {
    min-height: 200px;
    background-position: center;
  }
  .c-price .items-nobg {
    background: none;
    padding: 0 !important;
  }
  .c-price .items-nobg img {
    width: 245px;
  }
  .c-price .items:nth-child(3n) .priceAmount .left {
    width: 43px;
  }
}

.c-price .note {
  text-align: right;
  margin-top: 10px;
  padding-right: 35px;
}

@media (max-width: 736px) {
  .c-price .note {
    font-size: 0.9rem;
    padding-right: 15px;
    margin-top: 0;
  }
}

.c-hiring {
  font-size: 1.8rem;
}

.c-hiring .detailLink {
  margin-top: 32px;
}

@media (max-width: 736px) {
  .c-hiring .detailLink img {
    width: 300px;
  }
}

.c-hiring .box {
  background-color: #fff4e0;
  padding: 20px;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.c-hiring .box h3 {
  background-color: #ecb998;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 0;
}

@media (max-width: 736px) {
  .c-hiring .box h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: normal;
  }
}

.c-hiring .box a {
  display: block;
  float: left;
  margin-right: 12px;
  margin-bottom: 13px;
}

.c-hiring .box a:nth-child(5n) {
  margin-right: 0;
}

.c-hiring .box > div {
  overflow: hidden;
}

@media (max-width: 736px) {
  .c-hiring .box {
    padding: 0;
  }
  .c-hiring .box > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 9px;
  }
  .c-hiring .box a {
    width: calc(100% / 3 - 10px);
    margin-right: 0;
    margin-bottom: 10px;
  }
  .c-hiring .box a:nth-child(3n) {
    margin-right: 0;
  }
  .c-hiring .box a:nth-child(5n) {
    margin-right: 0;
  }
}

.c-hiring > p {
  margin-top: 23px;
}

@media (max-width: 736px) {
  .c-hiring {
    font-size: 1.2rem;
  }
}

.c-point {
  margin-top: 30px;
  background: url(../img/point_bg.jpg) no-repeat center top;
  margin-bottom: 39px;
  overflow: hidden;
}

.c-point h3 {
  padding-top: 40px;
  background: url(../img/point_line.jpg) no-repeat center top;
  text-align: center;
  font-size: 4.2rem;
  font-weight: normal;
  line-height: 5rem;
  position: relative;
  z-index: 9999;
}

@media (max-width: 736px) {
  .c-point h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    background: none;
    padding-top: 10px;
  }
  .c-point h3 span {
    font-size: 2rem;
  }
  .c-point h3 span:last-child {
    font-size: 1.7rem;
  }
}

.c-point .font-small {
  font-size: 2.8rem;
}

@media (max-width: 736px) {
  .c-point .font-small {
    font-size: 1.3rem;
  }
}

.c-point .body {
  padding-top: 129px;
}

.c-point .body h4 {
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 736px) {
  .c-point .body h4 {
    margin-bottom: 20px;
  }
}

@media (max-width: 736px) {
  .c-point .body {
    background-color: #333;
    margin: 0 -15px;
    padding: 0 15px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .c-point .body:before {
    background: url(../img/point_bg_sp01.jpg) no-repeat center bottom;
    background-size: cover;
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 80px;
  }
  .c-point .body:after {
    background: url(../img/point_bg_sp02.jpg) no-repeat center bottom;
    background-size: cover;
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 65px;
  }
}

.c-point .mid {
  color: #fff;
  font-size: 2rem;
  padding-top: 34px;
}

.c-point .mid p {
  margin-bottom: 22px;
}

@media (max-width: 736px) {
  .c-point .mid {
    font-size: 1.2rem;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .c-point .mid p {
    margin-bottom: 10px;
  }
  .c-point .mid img {
    width: 29px;
    height: auto;
  }
}

.c-point .pointItems {
  background-color: #fff;
  border: 4px solid #21a5aa;
  margin-left: 10px;
  position: relative;
  margin-bottom: 56px;
}

.c-point .pointItems.last {
  margin-bottom: 0;
}

.c-point .pointItems .img {
  float: right;
}

@media (max-width: 736px) {
  .c-point .pointItems .img {
    display: none;
  }
}

.c-point .pointItems .rib {
  position: absolute;
  left: -14px;
  top: -20px;
}

@media (max-width: 736px) {
  .c-point .pointItems .rib {
    top: -10px;
    left: -7px;
  }
}

.c-point .pointItems .msg {
  padding-top: 44px;
  padding-left: 27px;
  font-size: 2rem;
}

.c-point .pointItems .msg h5 {
  padding-bottom: 19px;
  border-bottom: 2px solid #21a5aa;
  margin-bottom: 17px;
}

@media (max-width: 736px) {
  .c-point .pointItems .msg h5 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: #bce4e5;
  }
}

@media (max-width: 736px) {
  .c-point .pointItems .msg {
    padding: 20px 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
  }
}

.c-point .pointItems-brown {
  margin-top: 41px;
  border: none;
  background: url(../img/point_bg02.jpg) no-repeat left top;
  height: 263px;
}

.c-point .pointItems-brown .rib {
  left: -10px;
  top: -15px;
}

@media (max-width: 736px) {
  .c-point .pointItems-brown .rib {
    top: -10px;
    left: -7px;
  }
}

.c-point .pointItems-brown .msg {
  padding-top: 45px;
  padding-left: 30px;
}

.c-point .pointItems-brown .msg h5 {
  border-bottom: 2px solid #ece1c0;
  width: 560px;
}

@media (max-width: 736px) {
  .c-point .pointItems-brown .msg {
    padding-top: 20px;
    padding-left: 15px;
  }
  .c-point .pointItems-brown .msg h5 {
    width: 100%;
  }
}

@media (max-width: 736px) {
  .c-point .pointItems-brown {
    border: 1px solid #c19c2e;
    background: #fff url(../img/point_bg02_sp.jpg) no-repeat right top;
    background-size: 96px auto;
    height: auto;
    margin-top: 17px;
  }
}

@media (max-width: 736px) {
  .c-point .pointItems {
    border-width: 2px;
    margin-bottom: 17px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.c-point .foot {
  margin-top: 126px;
}

.c-point .foot span {
  display: block;
  float: left;
}

@media (max-width: 736px) {
  .c-point .foot {
    margin-top: 45px;
  }
  .c-point .foot span {
    float: none;
    text-align: center;
  }
}

.c-point .box-hightlight {
  background-color: #c1932e;
  border-radius: 8px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.c-point .box-hightlight h4 {
  color: #fff;
  text-align: center;
  padding: 15px 0;
  padding-left: 10px;
}

@media (max-width: 736px) {
  .c-point .box-hightlight h4 {
    display: none;
  }
}

.c-point .box-hightlight .message {
  font-size: 2rem;
  color: #333;
  padding: 13px 0;
  padding-left: 132px;
  border-radius: 6px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.09) 86%, rgba(0, 0, 0, 0.1));
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(86%, rgba(255, 255, 255, 0.09)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.09) 86%, rgba(0, 0, 0, 0.1));
}

.c-point .box-hightlight .message span {
  float: left;
}

.c-point .box-hightlight .message span:first-child {
  margin-right: 18px;
  margin-top: 6px;
}

@media (max-width: 736px) {
  .c-point .box-hightlight .message span {
    float: none;
    overflow: hidden;
  }
  .c-point .box-hightlight .message span:first-child {
    float: left;
    margin-top: 0;
  }
}

@media (max-width: 736px) {
  .c-point .box-hightlight .message {
    background: none;
    border: 1px solid #c1932e;
    margin-top: 15px;
    border-radius: 0;
    padding: 10px 10px 10px 20px;
    font-size: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 736px) {
  .c-point .box-hightlight {
    background-color: #fff;
    padding: 0;
    border-radius: 0;
  }
}

@media (max-width: 736px) {
  .c-point {
    background: none;
    background-size: 100% auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.c-contact .top {
  padding-top: 47px;
  padding-left: 63px;
  font-size: 2.1rem;
  padding-bottom: 51px;
  background: #fffbe9 url(../img/contact_bg01.png) no-repeat right top;
}

.c-contact .top h3 {
  margin-bottom: 35px;
}

@media (max-width: 736px) {
  .c-contact .top {
    padding: 0 10px;
    background: #fffbe9 url(../img/contact_bg01_sp.png) no-repeat right top;
    background-size: auto 160px;
    font-size: 1.2rem;
    height: 160px;
    padding-right: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-contact .title {
  text-align: center;
  padding-top: 42px;
  height: 200px;
  margin-bottom: 39px;
  background: url(../img/contact_bg02.png) no-repeat center top;
}

@media (max-width: 736px) {
  .c-contact .title {
    background: none;
    height: auto;
    padding-top: 15px;
    margin-bottom: 0;
  }
  .c-contact .title h3 {
    margin-bottom: 0;
  }
}

.c-contact h3 {
  margin-bottom: 34px;
}

.c-contact form {
  border: 5px solid #f0f0f0;
  margin-left: 7px;
  margin-right: 3px;
  padding: 0 29px;
}

.c-contact form h4 {
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid #b9954f;
  padding-bottom: 11px;
  margin-bottom: 38px;
}

@media (max-width: 736px) {
  .c-contact form h4 {
    border-bottom: none;
    background-color: #ca976e;
    font-size: 1.8rem;
    color: #fff;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 736px) {
  .c-contact form {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.c-contact [type="text"], .c-contact [type="email"] {
  height: 23px;
  padding: 5px;
}

.c-contact [type="radio"] {
  margin-top: 5px;
}

.c-contact .input-big {
  width: 340px;
}

@media (max-width: 736px) {
  .c-contact .input-big {
    width: 100%;
  }
}

.c-contact textarea {
  width: 100%;
  height: 73px;
  margin-bottom: 5px;
}

.c-contact select {
  border: 1px solid #aaa;
  height: 26px;
}

.c-contact .input-radio {
  font-size: 1.2rem;
}

.c-contact .input-radio label {
  margin-right: 15px;
}

.c-contact .specter {
  margin-top: 8px;
  margin-bottom: 7px;
  font-size: 1rem;
}

.c-contact .list li ~ li {
  margin-top: 6px;
}

.c-contact table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.c-contact table th {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 182px;
  padding: 10px 5px;
  font-weight: normal;
  vertical-align: top;
}

.c-contact table th.any:before {
  content: "";
  font-size: 1rem;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  float: left;
  width: 10px;
}

.c-contact table th.required:before {
  content: "必須";
  font-size: 1rem;
  color: #fff;
  background-color: #f34b95;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  -webkit-box-shadow: 3px 2px 0px #ff0000;
          box-shadow: 3px 2px 0px #ff0000;
  float: left;
}

.c-contact table th span {
  display: block;
  overflow: hidden;
}

.c-contact table td {
  border: 1px solid #ccc;
  padding: 8px 10px;
}

.c-contact table td.name [type="text"] {
  width: 30%;
}

.c-contact table td.name span {
  width: 40px;
  display: inline-block;
}

@media (max-width: 736px) {
  .c-contact table {
    border-collapse: collapse;
    margin-top: 15px;
  }
  .c-contact table th {
    display: block;
    width: 100%;
    border-bottom: none;
  }
  .c-contact table td {
    display: block;
  }
  .c-contact table td.name [type="text"] {
    width: 30%;
  }
}

.c-contact #formEnd {
  text-align: center;
  position: relative;
  padding-top: 24px;
  padding-bottom: 35px;
}

.c-contact #formEnd .input {
  display: inline-block;
  padding-right: 125px;
}

.c-contact #formEnd .input span {
  padding-top: 12px;
  display: block;
  float: left;
  font-size: 1.2rem;
  margin-right: 10px;
}

@media (max-width: 736px) {
  .c-contact #formEnd .input span {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    font-size: 1.4rem;
    padding-top: 0;
  }
}

.c-contact #formEnd .input a {
  color: #72bec1;
}

@media (max-width: 736px) {
  .c-contact #formEnd .input {
    padding-right: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

.c-contact #formEnd button {
  background: transparent;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

.c-contact #formEnd .img {
  position: absolute;
  top: 20px;
  right: 0;
}

@media (max-width: 736px) {
  .c-contact #formEnd {
    border-top: 2px solid #ccc;
    padding-top: 15px;
    margin-top: 10px;
    padding-bottom: 0;
  }
}

.c-contact .arrow {
  text-align: center;
}

@media (max-width: 736px) {
  .c-contact .spaces {
    margin-top: 10px;
  }
}
