@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pl05 {
  padding-left: 5px;
}

.pt75 {
  padding-top: 75px;
}

.pr {
  padding-right: 5px;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	color
------------------------------------------------------------*/
.color-brown {
  color: #b28850;
}

.color-ocean {
  color: #21a5aa;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-text-size-adjust: auto;
  min-width: 1000px;
}

@media (max-width: 736px) {
  body {
    min-width: auto;
  }
}

.container {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

@media (max-width: 736px) {
  .container {
    max-width: auto;
    width: 100%;
  }
}

.l-main {
  font-size: 1.6rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 736px) {
  .l-main {
    font-size: 1.2rem;
  }
}

@media (max-width: 736px) {
  img {
    max-width: 100%;
  }
}

.clearix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.l-header {
  padding: 14px 0;
}

.l-header:after {
  display: block;
  clear: both;
  content: "";
}

.l-header .logo {
  float: left;
  padding-left: 10px;
}

.l-header .logo img {
  width: 141px;
  height: auto;
}

.l-header #gNav {
  float: right;
  padding-top: 7px;
}

.l-header #gNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header #gNav li {
  margin-left: 21px;
}

.l-header #gNav li:first-child {
  margin-left: 0;
}

.l-header #gNav a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.9rem;
  color: #323232;
  letter-spacing: -2px;
}

.l-header #gNav a img {
  height: auto;
  margin-right: 5px;
}

.globalHeaderSP {
  padding: 0 7px;
  text-align: center;
}

.globalHeaderSP:after {
  display: block;
  clear: both;
  content: "";
}

.globalHeaderSP > * {
  display: inline-block;
  vertical-align: bottom;
}

.globalHeaderSP .btn-menu {
  background: url(../img/btn_menu.png) no-repeat left top;
  background-size: 30px auto;
  width: 30px;
  height: 33px;
  display: block;
  text-indent: -999999px;
}

.globalHeaderSP .btn-menu.is-active {
  background: url(../img/btn_menu_active.png) no-repeat left top;
  background-size: 30px auto;
}

.globalHeaderSP nav {
  position: absolute;
  top: 100%;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
}

.globalHeaderSP nav ul {
  padding: 20px 10px;
  padding-bottom: 0;
}

.globalHeaderSP nav li {
  border-top: 1px dotted #eee;
}

.globalHeaderSP nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  font-size: 1.4rem;
  color: #222;
}

.globalHeaderSP nav a img {
  margin-right: 10px;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  padding: 15px 0;
}

#pagePath li {
  display: inline;
  position: relative;
  font-size: 1.2rem;
}

#pagePath li:after {
  content: ">";
}

#pagePath li:first-child {
  text-transform: uppercase;
}

#pagePath li:last-child:after {
  content: "";
}

#pagePath li a {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #0f5c9b;
}

#pagePath li a:hover {
  text-decoration: none;
}

/*------------------------------------------------------------
	Page title
------------------------------------------------------------*/
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/*------------------------------------------------------------
	block
------------------------------------------------------------*/
.block {
  padding: 0 35px;
}

@media (max-width: 736px) {
  .block {
    padding: 0 10px;
  }
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.l-footer {
  background: #F3F3F3 url(../img/bg_footer.jpg) repeat-x left top;
  margin-top: 135px;
  padding-top: 45px;
}

.l-footer .btn-top {
  width: 50px;
  height: 51px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
  cursor: pointer;
}

@media (max-width: 736px) {
  .l-footer .btn-top {
    display: none !important;
  }
}

.l-footer .logo-footer {
  margin-top: 22px;
  text-align: center;
}

@media (max-width: 736px) {
  .l-footer .logo-footer {
    margin-top: 3px;
  }
}

.l-footer #fNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-footer #fNav ul {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
}

.l-footer #fNav ul:nth-child(2n) {
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
}

@media (max-width: 736px) {
  .l-footer #fNav ul {
    width: 50%;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 20px;
  }
}

.l-footer #fNav li {
  font-size: 1.5rem;
  color: #999999;
}

.l-footer #fNav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #323232;
}

@media (max-width: 736px) {
  .l-footer #fNav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-footer .bottom {
  border-top: 1px solid #D8D8D8;
  padding-top: 35px;
  margin-top: 40px;
  padding-bottom: 50px;
  color: #999;
  font-size: 1.9rem;
}

.l-footer .bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 736px) {
  .l-footer .bottom ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.l-footer .bottom li {
  margin: 0 10px;
}

@media (max-width: 736px) {
  .l-footer .bottom li:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
  }
}

.l-footer .bottom a {
  text-decoration: none;
  color: #5A3618;
  font-size: 1.4rem;
}

@media (max-width: 736px) {
  .l-footer .bottom {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 27px;
  }
}

@media (max-width: 736px) {
  .l-footer {
    margin-top: 40px;
    padding-top: 35px;
  }
}

/*------------------------------------------------------------
	media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 736px) {
  .pc-only {
    display: none !important;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 736px) {
  .sp-only {
    display: block !important;
  }
}

.pc-break {
  display: block;
}

@media (max-width: 736px) {
  .pc-break {
    display: inline;
  }
}

.sp-break {
  display: inline;
}

@media (max-width: 736px) {
  .sp-break {
    display: block;
  }
}

a:hover img {
  opacity: 0.7;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	l
------------------------------------------------------------*/
.l-content {
  margin-top: 45px;
}

.l-block {
  margin-bottom: 75px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.btn {
  text-decoration: none;
  color: #fff;
  font-size: 2.2rem;
  width: 225px;
  height: 57px;
  display: block;
  text-align: center;
  line-height: 57px;
  background: url(../img/ico-arrow-right.png) no-repeat right 10px center;
}

@media (max-width: 736px) {
  .btn {
    width: 160px;
    height: auto;
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 10px 0;
    background: url(../img/ico-arrow-right.png) no-repeat right 10px center;
    background-size: 6px auto;
  }
}

.btn_color--pink {
  background-color: #f3979c;
}

.btn_color--purple {
  background-color: #8f76ba;
}

.btn_color--blue {
  background-color: #64bdff;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-title1 {
  color: #EF7C82;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 10px;
}

@media (max-width: 736px) {
  .c-title1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.c-title2 {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-title2:after {
  display: block;
  clear: both;
  content: "";
}

.c-title2 .label {
  float: left;
  background-color: #E3AA13;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  font-size: 1.4rem;
  padding: 2px 5px;
}

@media (max-width: 736px) {
  .c-title2 .label {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .c-title2 .label h3 {
    display: block;
  }
}

@media (max-width: 736px) {
  .c-title2 {
    display: block;
  }
}

.c__color-pink .color-border {
  border-color: #EF7C82;
}

.c__color-pink .color-text {
  color: #EF7C82;
}

.c__color-pink .color-btn {
  background-color: #EF7C82;
  color: #fff;
}

.c__color-orange .color-border {
  border-color: #E3AA13;
}

.c__color-orange .color-text {
  color: #E3AA13;
}

.c__color-orange .color-btn {
  background-color: #E3AA13;
  color: #fff;
}

.c__color-blue .color-border {
  border-color: #37ABFF;
}

.c__color-blue .color-text {
  color: #37ABFF;
}

.c__color-blue .color-btn {
  background-color: #37ABFF;
  color: #fff;
}

@media (max-width: 736px) {
  .c__color-blue .color-btn {
    background: #fff url(../img/ico-arrow-right-blue.png) no-repeat right 10px center;
    background-size: 8px auto;
    color: #37ABFF;
    border: 1px solid #37ABFF;
  }
}

.c__color-green .color-border {
  border-color: #5CC23E;
}

.c__color-green .color-text {
  color: #5CC23E;
}

.c__color-green .color-btn {
  background-color: #5CC23E;
  color: #fff;
}

.c-content {
  margin-top: 15px;
  margin-bottom: 40px;
}

.c-content dl:after {
  display: block;
  clear: both;
  content: "";
}

.c-content dl dt {
  display: block;
  float: left;
  margin-right: 5px;
}

@media (max-width: 736px) {
  .c-content dl dt {
    float: none;
  }
}

@media (max-width: 736px) {
  .c-content dl dd {
    display: block;
  }
}

@media (max-width: 736px) {
  .c-content dl {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .c-content dl ~ dl {
    margin-top: 10px;
  }
}

.c-content .number span {
  margin-top: 5px;
  display: block;
  float: left;
  margin-right: 10px;
}

.c-content p {
  padding-top: 7px;
}

.c-content p span {
  font-size: 1.2rem;
}

@media (max-width: 736px) {
  .c-content {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .c-content .text {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
}

.c-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 40px;
}

.c-column .col {
  width: 445px;
  font-size: 1.6rem;
}

.c-column .col .inner {
  padding: 20px 18px;
}

@media (max-width: 736px) {
  .c-column .col .inner {
    padding: 14px;
  }
}

@media (max-width: 736px) {
  .c-column .col {
    width: 100%;
  }
  .c-column .col ~ .col {
    margin-top: 13px;
  }
}

.c-column h5 img {
  margin-right: 10px;
}

.c-column .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-top: 30px;
}

.c-column .button a {
  width: 175px;
  height: 40px;
  line-height: 40px;
  font-size: 1.9rem;
}

@media (max-width: 736px) {
  .c-column .button a {
    font-size: 1.4rem;
    width: 48%;
    height: auto;
    line-height: 9px;
    padding: 0;
  }
}

@media (max-width: 736px) {
  .c-column .button {
    margin-top: 15px;
    padding: 0;
  }
}

.c-column .number {
  float: left;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
}

.c-column .number span {
  font-size: 2.4rem;
  display: inline-block;
  margin-top: 5px;
}

@media (max-width: 736px) {
  .c-column .number {
    float: none;
    font-size: 1.2rem;
  }
  .c-column .number a {
    margin-top: 5px;
  }
}

.c-column .time {
  font-size: 1.2rem;
  padding-top: 5px;
  padding-left: 15px;
  overflow: hidden;
}

@media (max-width: 736px) {
  .c-column .time {
    padding-left: 0;
  }
}

.c-column .infoWork {
  margin-top: 10px;
  margin-bottom: 5px;
}

.c-column .textSmall {
  font-size: 1.3rem;
}

@media (max-width: 736px) {
  .c-column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
