@import url("//fonts.googleapis.com/css?family=Roboto");
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.l-visual {
  background: url(../img/main_visual_bg.jpg) no-repeat center bottom;
  background-size: cover;
  height: 430px;
}

.l-visual .left {
  float: left;
  padding-top: 35px;
  margin-left: -5px;
}

@media (max-width: 736px) {
  .l-visual .left {
    float: none;
    text-align: center;
  }
}

.l-visual .right {
  width: 460px;
  float: right;
  padding-top: 52px;
  margin-right: -5px;
}

.l-visual .right:after {
  display: block;
  clear: both;
  content: "";
}

.l-visual .right span {
  display: block;
  padding-top: 5px;
}

.l-visual .right ul {
  padding-top: 10px;
  float: left;
  margin-right: 28px;
}

@media (max-width: 736px) {
  .l-visual .right ul {
    padding-top: 0;
  }
}

.l-visual .right li ~ li {
  margin-top: 28px;
}

@media (max-width: 736px) {
  .l-visual .right li ~ li {
    margin-top: 15px;
  }
}

@media (max-width: 736px) {
  .l-visual .right {
    float: none;
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 736px) {
  .l-visual {
    background: url(../img/main_visual_bg_sp.jpg) repeat center top;
    background-size: cover;
    padding: 0 11px;
    height: auto;
    padding-bottom: 20px;
  }
}

.moistureSection {
  padding-top: 60px;
}

.moistureSection:after {
  display: block;
  clear: both;
  content: "";
}

.moistureSection:first-child {
  padding-top: 95px;
  padding-left: 5px;
}

@media (max-width: 736px) {
  .moistureSection:first-child {
    padding-top: 30px;
    padding-left: 15px;
  }
}

.moistureSection > p {
  overflow: hidden;
  padding-right: 35px;
  line-height: 1.9;
}

@media (max-width: 736px) {
  .moistureSection > p {
    padding-right: 0;
  }
}

.moistureSection .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -17px;
  margin-top: 30px;
}

@media (max-width: 736px) {
  .moistureSection .wrap {
    margin: 0 -7px;
    margin-top: 15px;
  }
}

.moistureSection .items {
  margin-bottom: 34px;
  width: calc(100% / 3);
  padding: 0 17px;
}

@media (max-width: 736px) {
  .moistureSection .items {
    width: calc(100% / 2);
    padding: 0 7px;
    margin-bottom: 15px;
  }
  .moistureSection .items h4 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .moistureSection .items p {
    font-size: 1.2rem;
  }
}

.moistureSection .inner {
  border-width: 1px;
  border-style: solid;
  position: relative;
}

@media (max-width: 736px) {
  .moistureSection .inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.moistureSection .bubble {
  position: absolute;
  top: -25px;
  right: -10px;
  width: 70px;
  height: 80px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  padding-top: 8px;
}

@media (max-width: 736px) {
  .moistureSection .bubble {
    width: 36px;
    height: auto;
    background-size: 35px auto;
    font-size: 1.1rem;
    padding-top: 4px;
    top: -20px;
    right: -5px;
  }
}

.moistureSection .info {
  padding: 20px 15px 15px 15px;
  min-height: 145px;
  font-size: 1.5rem;
}

.moistureSection .info h4 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 13px;
}

@media (max-width: 736px) {
  .moistureSection .info h4 {
    font-size: 15px;
  }
}

@media (max-width: 736px) {
  .moistureSection .info {
    padding: 10px 7px 7px;
    font-size: 1.2rem;
    min-height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.moistureSection .hightlight {
  background-color: #f4f4f4;
  padding: 20px 15px 20px 15px;
  color: #E33359;
  font-size: 2rem;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moistureSection .hightlight .ico {
  display: block;
  float: left;
  margin-right: 10px;
}

@media (max-width: 736px) {
  .moistureSection .hightlight .ico {
    width: 23px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23px;
            flex: 0 0 23px;
  }
}

.moistureSection .hightlight .smaller {
  font-size: 16px;
}

@media (max-width: 736px) {
  .moistureSection .hightlight .smaller {
    font-size: 10px;
  }
}

@media (max-width: 736px) {
  .moistureSection .hightlight {
    font-size: 1.3rem;
    padding: 9px 8px;
  }
}

.moistureSection > h4 {
  color: #EF7C82;
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 10px;
}

@media (max-width: 736px) {
  .moistureSection > h4 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.moistureSection .img {
  float: right;
  padding-right: 57px;
  padding-top: 9px;
}

@media (max-width: 736px) {
  .moistureSection .img {
    padding-right: 0;
    padding-top: 5px;
  }
}

.moistureSection ~ p {
  padding-right: 50px;
  overflow: hidden;
}

@media (max-width: 736px) {
  .moistureSection {
    padding: 0 15px;
    padding-top: 30px;
  }
  .moistureSection figure {
    margin-bottom: 15px;
  }
}

.moisturePoints {
  padding-top: 60px;
}

.moisturePoints h3 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 23px;
}

@media (max-width: 736px) {
  .moisturePoints h3 {
    font-size: 2rem;
    margin-bottom: 14px;
  }
}

.moisturePoints .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 736px) {
  .moisturePoints .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.moisturePoints .items {
  width: 485px;
}

.moisturePoints .items .item-bottom-one a {
  margin-top: 30px;
}

@media (max-width: 736px) {
  .moisturePoints .items .item-bottom-one a {
    margin-top: 0;
  }
}

.moisturePoints .items .item-two {
  margin-bottom: 7px;
}

.moisturePoints .items .item-two h4 {
  padding-top: 10px;
}

.moisturePoints .items__full-width {
  width: 100%;
}

.moisturePoints .items__full-width > .inner {
  padding: 30px 39px;
}

@media (max-width: 736px) {
  .moisturePoints .items {
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
  }
}

.moisturePoints .inner {
  padding: 24px 18px;
  border-width: 1px;
  border-style: solid;
  height: 100%;
}

@media (max-width: 736px) {
  .moisturePoints .inner {
    padding: 20px 10px;
  }
}

.moisturePoints p {
  font-size: 1.6rem;
}

@media (max-width: 736px) {
  .moisturePoints p {
    font-size: 1.2rem;
  }
}

.moisturePoints .small {
  font-size: 1.2rem;
}

.moisturePoints figure {
  float: left;
  margin-right: 20px;
}

@media (max-width: 736px) {
  .moisturePoints figure {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}

.moisturePoints h4 {
  font-size: 2.6rem;
  font-weight: normal;
  margin-bottom: 10px;
}

@media (max-width: 736px) {
  .moisturePoints h4 {
    font-size: 2rem;
    margin-top: 10px;
  }
}

.moisturePoints h5 {
  font-weight: normal;
  font-size: 2.7rem;
  margin-bottom: 10px;
}

@media (max-width: 736px) {
  .moisturePoints h5 {
    font-size: 1.8rem;
    text-align: left;
    line-height: 1.5;
  }
}

.moisturePoints .bottom {
  color: #EF7C82;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 60px;
}

.moisturePoints .bottom span {
  line-height: 1.4;
}

.moisturePoints .bottom a {
  display: block;
  width: 175px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  background: #EF7C82 url(../img/ico-arrow-right.png) no-repeat right 10px center;
}

@media (max-width: 736px) {
  .moisturePoints .bottom a {
    margin: auto;
    font-size: 1.9rem;
    margin-top: 10px;
  }
}

@media (max-width: 736px) {
  .moisturePoints .bottom {
    display: block;
    min-height: auto;
    margin-top: 5px;
  }
}

.moisturePoints .aboutPartner {
  margin-top: 75px;
}

@media (max-width: 736px) {
  .moisturePoints .aboutPartner {
    margin-top: 25px;
  }
  .moisturePoints .aboutPartner .c-column h5 {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
  .moisturePoints .aboutPartner .items__full-width > .inner {
    border: none;
    padding: 0;
  }
  .moisturePoints .aboutPartner p {
    clear: both;
  }
  .moisturePoints .aboutPartner figure {
    float: left;
    margin-right: 10px;
  }
  .moisturePoints .aboutPartner figure img {
    width: 85px;
  }
  .moisturePoints .aboutPartner .inner {
    text-align: left;
  }
}

@media (max-width: 736px) {
  .moisturePoints {
    padding: 0 15px;
    margin-top: 25px;
  }
}

.faq {
  margin-top: 85px;
  font-weight: normal;
}

.faq h3 {
  color: #EF7C82;
  font-size: 3.2rem;
  margin-bottom: 20px;
  font-weight: normal;
}

@media (max-width: 736px) {
  .faq h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
  }
}

.faq .faqItems {
  border: 1px solid #BFBFBF;
  margin-bottom: 20px;
}

.faq .faqItems .q {
  background: #F3F3F3 url(../img/ico-q.png) no-repeat left 17px center;
  padding: 12px 12px 12px 60px;
  position: relative;
  cursor: pointer;
}

.faq .faqItems .q:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/ico-arrow-down.png) no-repeat center;
  width: 19px;
  height: 12px;
}

.faq .faqItems .q.is-active:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/ico-arrow-up.png) no-repeat center;
  width: 19px;
  height: 12px;
}

.faq .faqItems .q h4 {
  font-size: 1.8rem;
  font-weight: normal;
  padding-right: 30px;
}

@media (max-width: 736px) {
  .faq .faqItems .q h4 {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

@media (max-width: 736px) {
  .faq .faqItems .q {
    background: #F3F3F3 url(../img/ico-q-sp.png) no-repeat left 17px top 15px;
    background-size: 25px auto;
    padding-left: 50px;
  }
}

.faq .faqItems .a {
  background: url(../img/ico-a.png) no-repeat left 17px top 15px;
  padding: 12px 12px 12px 60px;
  display: none;
}

.faq .faqItems .a ul {
  margin-top: 15px;
}

.faq .faqItems .a li ~ li {
  margin-top: 15px;
}

.faq .faqItems .a span {
  display: block;
  font-weight: bold;
  color: #37ABFF;
}

@media (max-width: 736px) {
  .faq .faqItems .a {
    background: #fff url(../img/ico-a-sp.png) no-repeat left 17px top 15px;
    background-size: 21px auto;
    padding-left: 50px;
  }
}

@media (max-width: 736px) {
  .faq .faqItems {
    margin-bottom: 0;
  }
}

@media (max-width: 736px) {
  .faq {
    margin-top: 10px;
  }
}

.boxContact {
  padding: 25px 30px;
  border: 1px solid #EF7C82;
  margin-top: 70px;
}

.boxContact:after {
  display: block;
  clear: both;
  content: "";
}

.boxContact .title {
  float: left;
  color: #EF7C82;
  font-size: 1.9rem;
  padding-right: 29px;
  margin-right: 28px;
  border-right: 1px solid #EF7C82;
}

.boxContact .title h4 {
  font-size: 3.7rem;
  font-weight: normal;
}

@media (max-width: 736px) {
  .boxContact .title h4 {
    font-size: 1.9rem;
  }
}

@media (max-width: 736px) {
  .boxContact .title {
    float: none;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}

.boxContact .body {
  overflow: hidden;
}

.boxContact .body:after {
  display: block;
  clear: both;
  content: "";
}

.boxContact .body .freeCall {
  display: block;
  float: left;
}

.boxContact .body .freeCall p {
  margin-top: 5px;
}

@media (max-width: 736px) {
  .boxContact .body .freeCall {
    float: none;
  }
  .boxContact .body .freeCall a {
    margin-top: 5px;
  }
}

.boxContact .body > p {
  font-size: 1.5rem;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width: 736px) {
  .boxContact .body > p {
    padding-top: 10px;
    padding-left: 0;
    font-size: 1.2rem;
  }
}

@media (max-width: 736px) {
  .boxContact {
    margin-top: 44px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 17px;
  }
}

/* */
