@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-family: "Noto Sans Japanese", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-text-size-adjust: auto;
  min-width: 1140px;
  background-color: #f9f6f1;
}

@media (max-width: 767px) {
  body {
    min-width: auto;
  }
}

.container {
  margin: 0 auto;
  width: 1140px;
  text-align: left;
  position: relative;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

.l-main {
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

a {
  color: #222;
}

@media (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding-bottom: 2px;
}

.l-header .container:after {
  display: block;
  clear: both;
  content: "";
}

.l-header .logo {
  display: block;
  padding: 0;
  margin-bottom: 9px;
}

.l-header .logo:hover {
  opacity: 0.7;
}

.l-header h1 {
  padding-top: 3px;
  padding-bottom: 6px;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: -1px;
}

@media (max-width: 767px) {
  .l-header h1 {
    display: none;
  }
}

.l-header .c-headerLeft {
  float: left;
  width: 865px;
}

@media (max-width: 767px) {
  .l-header .c-headerLeft {
    width: auto;
  }
  .l-header .c-headerLeft p {
    display: none;
  }
}

.l-header .c-headerRight {
  float: right;
  color: #666;
  widtH: 270px;
  font-size: 1.2rem;
  padding-top: 6px;
}

.l-header .c-headerRight ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}

@media (max-width: 767px) {
  .l-header .c-headerRight ul {
    display: none;
  }
}

.l-header .c-headerRight li a {
  color: #666;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
  background: url(../img/ico-bullet.png) no-repeat left center;
  padding-left: 10px;
}

.l-header .c-headerRight li a:hover {
  color: #930000;
}

.l-header .c-headerRight .tel {
  margin-bottom: 14px;
  display: block;
}

.l-header .btn {
  background: #930000 url(../img/ico-angle-right.png) no-repeat left 30px center;
  font-size: 1.7rem;
  height: 40px;
  line-height: 40px;
  padding-left: 47px;
  letter-spacing: 4px;
}

.l-header .btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: -2px;
}

@media (max-width: 767px) {
  .l-header .btn {
    display: none;
  }
}

.l-header .headerSP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header .headerSP a {
  display: block;
}

.l-header .headerSP .rig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header .headerSP .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.l-header .headerSP .btn-menu {
  margin-left: 17px;
  width: 32px;
  height: 32px;
  background: url(../img/btn_menu.png) no-repeat center;
  background-size: 27px;
}

.l-header .headerSP .btn-menu.is-active {
  background: url(../img/btn_menu_active.png) no-repeat center;
  background-size: 27px;
}

.l-header .headerSP #gNavSP {
  background-color: #9b833b;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999999;
  display: none;
}

.l-header .headerSP #gNavSP ul {
  padding: 0 8px;
}

.l-header .headerSP #gNavSP li {
  border-bottom: 1px solid #af9c62;
  color: #fff;
}

.l-header .headerSP #gNavSP li.close {
  padding: 15px 0;
  text-align: center;
}

.l-header .headerSP #gNavSP a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: normal;
  display: block;
  padding: 15px 10px;
}

@media (max-width: 767px) {
  .l-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#gNav {
  position: relative;
  margin-top: 19px;
}

#gNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
}

#gNav li:before {
  content: "|";
  font-size: 1.3rem;
  color: #adadad;
}

#gNav a {
  font-size: 1.4rem;
  text-decoration: none;
  content: "|";
  font-size: 1.4rem;
  color: #333;
  padding: 0 23px;
  white-space: nowrap;
}

#gNav a:hover {
  border-bottom: #600;
  color: #600;
}

@media (max-width: 767px) {
  #gNav {
    display: none;
  }
}

.l-left {
  display: block;
  float: left;
  width: 800px;
}

@media (max-width: 767px) {
  .l-left {
    float: none;
    width: 100%;
  }
}

.l-right {
  overflow: hidden;
  padding-left: 40px;
}

@media (max-width: 767px) {
  .l-right {
    width: 100%;
    float: none;
    padding-left: 0;
    overflow: inherit;
  }
}

/*------------------------------------------------------------
	btn
------------------------------------------------------------*/
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.l-footer {
  background-color: #e5ded1;
  padding-top: 40px;
  margin-top: 43px;
  font-weight: normal;
  color: #666;
}

.l-footer #backTop {
  position: absolute;
  right: 10px;
  top: -85px;
}

.l-footer h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 12px;
}

.l-footer h3.fixpp {
  margin-top: 37px;
}

.l-footer h3:before {
  content: "";
  width: 3px;
  background-color: #9b833b;
  height: 12px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .l-footer {
    padding-top: 0;
    margin-top: 30px;
    overflow: hidden;
  }
  .l-footer .c-pageTop {
    background-color: #a48b3f;
  }
  .l-footer .c-pageTop a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    font-size: 1.2rem;
  }
  .l-footer .c-pageTop span {
    position: relative;
  }
  .l-footer .c-pageTop span:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-51%);
            transform: translateY(-51%);
    left: -15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 8px solid #fff;
  }
}

.c-footerNavSP {
  margin-bottom: 15px;
}

.c-footerNavSP ul {
  margin: 0 -15px;
}

.c-footerNavSP li {
  padding: 15px 18px;
  border-bottom: 1px solid #fff;
}

.c-footerNavSP li.ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-footerNavSP a {
  font-size: 1.4rem;
  text-decoration: none;
}

.c-footerNavSP a.btn {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  font-size: 1.6rem;
  border-radius: 5px;
  line-height: 1.3;
}

.c-footerNavSP .d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-footerNavSP .d li {
  width: 50%;
  margin: 0;
}

.c-footerNavSP .d li:nth-child(2n) {
  border-left: 1px solid #fff;
}

.c-footerContent {
  border-bottom: 1px solid #999;
  padding-bottom: 40px;
  margin-bottom: 38px;
  font-size: 1rem;
}

.c-footerContent p {
  line-height: 13px;
  letter-spacing: 1px;
}

.c-footerNav {
  border-bottom: 1px solid #999;
  margin-bottom: 40px;
  padding-bottom: 18px;
}

.c-footerNav .nav {
  overflow: hidden;
  padding-left: 10px;
  margin-bottom: 22px;
  font-size: 1.2rem;
}

.c-footerNav .nav p {
  float: left;
  width: 165px;
  font-weight: bold;
}

.c-footerNav .nav ul {
  overflow: hidden;
}

.c-footerNav .nav ul li {
  display: block;
  float: left;
}

.c-footerNav .nav ul li:last-child:after {
  content: "";
}

.c-footerNav .nav ul li:after {
  content: "/";
  margin-left: 10px;
  margin-right: 10px;
}

.c-footerNav .nav ul a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #666;
}

.c-footerNav .nav ul a:hover {
  text-decoration: underline;
}

.c-footerBottom {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 30px;
}

.c-footerBottom p {
  margin-bottom: 10px;
}

.c-footerBottom .copy {
  font-size: 1.2rem;
  padding-top: 10px;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.pc-only {
  display: block !important;
}

@media (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
}

.sp-only {
  display: none !important;
}

@media (max-width: 767px) {
  .sp-only {
    display: block !important;
  }
}

/* Custom radio */
[type="radio"] {
  position: absolute;
  display: none;
}

[type="radio"][disabled] {
  cursor: not-allowed;
}

[type="radio"] + label {
  padding-bottom: 10px;
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.6rem;
  color: #333;
  font-weight: bold;
}

[type="radio"] + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  content: '';
  border: 1px solid #ccc;
}

[type="radio"] + label:after {
  position: absolute;
  display: none;
  content: '';
}

[type="radio"][disabled] + label {
  cursor: not-allowed;
  color: #ccc;
}

[type="radio"][disabled] + label:before {
  border-color: #ccc;
}

[type="radio"]:checked + label:before {
  -webkit-animation-name: none;
          animation-name: none;
}

[type="radio"]:checked + label:after {
  display: block;
}

[type="radio"] + label:before {
  border-radius: 50%;
  background: #fff;
}

[type="radio"] + label:after {
  top: 8px;
  left: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

[type="radio"]:checked + label:before {
  border: 1px solid #9b833b;
  background: #9b833b;
}

[type="radio"]:checked[disabled] + label:before {
  border: 1px solid #c9e2f9;
}

[type="radio"]:checked[disabled] + label:after {
  background: #c9e2f9;
}

/* custom checbox*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .25em;
  left: .275em;
  font-size: 1.2em;
  line-height: 0.8;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/*------------------------------------------------------------
	Main content
------------------------------------------------------------*/
.l-main .search {
  margin-top: 40px;
}

/*------------------------------------------------------------
	Main content
------------------------------------------------------------*/
.l-block {
  margin-bottom: 40px;
  color: #666;
}

@media (max-width: 767px) {
  .l-block .foot a {
    background: url(../img/ico-next.png) no-repeat right 20px center;
    background-size: 10px auto;
    display: block;
    width: 252px;
    margin: auto;
    z-index: 99999;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    font-size: 1.2rem;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
  }
}

/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.c-titleLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ccc;
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 13px;
  color: #333;
  font-weight: bold;
}

.c-titleLine:before {
  width: 100px;
  height: 2px;
  background-color: #000;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
}

.c-titleLine h3 {
  font-size: 1.5rem;
  padding-top: 15px;
  letter-spacing: 2px;
}

.c-titleLine a {
  font-size: 1.2rem;
  border-radius: 3px;
  background: url(../img/ico-angle-right01.png) no-repeat right 10px center;
  border: solid 1px #ccc;
  font-size: 1.2rem;
  text-decoration: none;
  height: 30px;
  line-height: 27px;
  text-align: center;
  color: #666;
  position: absolute;
  right: 0;
  top: 9px;
}

.c-titleLine a.--smW {
  width: 160px;
}

.c-titleLine a.--lgW {
  width: 195px;
}

.c-titleLine a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .c-titleLine {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/*------------------------------------------------------------
	button
------------------------------------------------------------*/
.btn {
  width: 100%;
  display: block;
  color: #fff;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
}

.btn--red {
  background-color: #930000;
  -webkit-box-shadow: 0 3px 0 #600;
          box-shadow: 0 3px 0 #600;
}

.btn--black {
  background-color: #212121;
  -webkit-box-shadow: 0 3px 0 #000;
          box-shadow: 0 3px 0 #000;
}

.c-listDl {
  padding: 13px 0;
  border-bottom: 1px solid #ccc;
  background: url(../img/ico-angle-right-bold.png) no-repeat right 10px center;
}

.c-listDl dt {
  color: #9b833b;
  font-weight: bold;
}

.c-listDl dd {
  padding-left: 20px;
  font-size: 1.2rem;
  color: #666;
}

.c-listDl dd:after {
  display: block;
  clear: both;
  content: "";
}

.c-listDl dd .col {
  display: block;
  float: left;
}

.c-listDl dd .col span {
  overflow: hidden;
  float: none;
}

.c-listDl dd .col span:first-child {
  width: 75px;
  float: left;
}

.c-listDl dd .col span:first-child:after {
  content: "：";
}

@media (max-width: 767px) {
  .c-listDl dd .col span:first-child {
    width: 75px;
    overflow: hidden;
    display: block;
  }
}

.c-listDl dd .col:first-child {
  width: 215px;
}

.c-listDl dd .col:first-child span:first-child {
  width: 75px;
}

.c-listDl dd p {
  margin-top: 5px;
}

.c-listDl dd p:after {
  display: block;
  clear: both;
  content: "";
}

.c-listDl dd p span {
  display: block;
  float: left;
}

@media (max-width: 767px) {
  .c-listDl dd {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .c-listDl {
    padding: 15px 0;
  }
}

.c-boxResult {
  background-color: #e2c308;
}

/*------------------------------------------------------------
	sidebar area
------------------------------------------------------------*/
.c-boxResult {
  padding: 20px;
  margin-bottom: 40px;
}

.c-boxResult a {
  display: block;
  border-radius: 3px;
  background: #f9f6f1 url(../img/ico-angle-right-red.png) no-repeat left 30px center;
  text-align: center;
  -webkit-box-shadow: 0 3px 3px rgba(3, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(3, 0, 0, 0.2);
  text-decoration: none;
  font-size: 2rem;
  width: 260px;
  height: 64px;
  margin-top: 15px;
  line-height: 64px;
}

.c-boxResult a:last-child {
  margin-top: 10px;
}

.c-boxWhite {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 38px;
}

.c-boxWhite ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.c-boxWhite ul li ~ li {
  margin-top: 15px;
}

.c-boxWhite p {
  padding-left: 25px;
}

.c-boxRecruit {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e5ded1;
}

.c-boxRecruit h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.c-boxRecruit h3:before {
  content: "";
  width: 3px;
  background-color: #9b833b;
  height: 12px;
  margin-right: 5px;
}

.c-boxRecruit ul li {
  background-color: #fff;
  padding: 8px 10px;
}

@media (max-width: 767px) {
  .c-boxRecruit ul li figure {
    display: block;
    float: left;
    margin-right: 20px;
    width: 40%;
  }
  .c-boxRecruit ul li:after {
    display: block;
    clear: both;
    content: "";
  }
}

.c-boxRecruit ul li ~ li {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .c-boxRecruit ul li {
    padding: 14px 10px;
    background: #fff url(../img/ico-angle-right-brown.png) no-repeat right 10px center;
    background-size: 6px auto;
    padding-right: 20px;
  }
}

.c-boxRecruit ul h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .c-boxRecruit ul h4 {
    margin-top: 8px;
    font-size: 1.5rem;
    color: #9b833b;
    margin-bottom: 10px;
  }
}

.c-boxRecruit ul p {
  font-size: 1.2rem;
}

.c-boxRecruit .more {
  display: block;
  border: 1px solid #fff;
  font-size: 1.2rem;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  margin-top: 11px;
  padding-top: 4px;
  padding-bottom: 6px;
  background: url(../img/ico-angle-right.png) no-repeat right 25px center;
}

@media (max-width: 767px) {
  .c-boxRecruit .more {
    background: url(../img/ico-angle-right-white.png) no-repeat right 25px center;
    background-size: 10px auto;
    display: block;
    width: 100%;
    margin: auto;
    z-index: 99999;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #666;
    font-size: 1.25rem;
    height: 52px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .c-boxRecruit {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 30px;
  }
}

.c-boxBtn {
  margin-bottom: 13px;
}

.c-boxBtn .btnBar {
  display: block;
  height: 100px;
  line-height: 100px;
  font-size: 2.3rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .c-boxBtn .btnBar {
    background-color: #fff;
    height: 120px;
    line-height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.5rem;
  }
}

.c-boxBtn .btnaq {
  background-color: #2e98a2;
  color: #333;
}

@media (max-width: 767px) {
  .c-boxBtn .btnaq {
    font-size: 4.5rem;
  }
}

.c-boxBtn .btnYellow {
  background-color: #e2c308;
}

.c-boxBtn .btnAstral {
  background-color: #2e98a2;
}

.c-boxBtn .btnRed {
  background-color: #c7403a;
}

.c-boxBtn .btnBlue {
  background-color: #114f7a;
}

.c-boxBtn p {
  font-size: 1.2rem;
}

.c-boxBtn a:hover {
  opacity: 0.7;
}

.c-boxInfo {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}

.c-boxInfo h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 13px;
}

.c-boxInfo h3:before {
  content: "";
  width: 3px;
  background-color: #9b833b;
  height: 12px;
  margin-right: 5px;
}

.c-boxInfo ul li {
  background-color: #fff;
  padding: 10px;
}

.c-boxInfo ul li ~ li {
  margin-top: 10px;
}

.c-boxInfo ul h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.c-boxInfo ul p {
  font-size: 1.2rem;
}

.c-boxInfo .more {
  display: block;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  margin-top: 11px;
  padding-top: 4px;
  padding-bottom: 6px;
  background: url(../img/ico-angle-right01.png) no-repeat right 25px center;
}

@media (max-width: 767px) {
  .c-boxInfo .more {
    background-size: 10px auto;
    display: block;
    width: 100%;
    margin: auto;
    z-index: 99999;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    font-size: 1.2rem;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    line-height: 40px;
  }
}

.c-boxInfo dl {
  font-size: 1.2rem;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .c-boxInfo dl {
    padding: 0 10px;
  }
}

.c-boxInfo dt {
  margin-bottom: 7px;
}

.c-boxInfo dt h4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 3px;
}

.c-boxInfo dd {
  font-weight: normal;
  line-height: 16px;
}

@media (max-width: 767px) {
  .c-boxInfo {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* Popup */
/* Outer */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.35);
  z-index: 9999999;
}

/* Inner */
.popup-inner {
  max-width: 900px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 45px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 45px 4px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  background: #fff;
}

.popup-inner h3 {
  font-size: 2.2rem;
  color: #333;
  padding: 15px 0;
  margin: 0 20px;
  border-bottom: 2px solid #ccc;
  position: relative;
  margin-bottom: 5px;
}

.popup-inner h3:after {
  width: 200px;
  background-color: #9b833b;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
}

.popup-inner .img {
  text-align: center;
}

.popup-inner #formEnd {
  text-align: center;
  padding: 90px 0 20px 0;
}

/* Close Button */
.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 30px;
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #333;
  text-decoration: none;
}

.navFix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  background-color: #e5ded1;
  border-top: 1px solid #ccc;
  display: none;
}

.navFix .search {
  margin-bottom: 0;
}

.navFix .search .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navFix .search form {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.navFix .search form .input-radio {
  margin-left: 20px;
}

.navFix .search form .input a {
  width: 260px;
}

.navFix .search form .input .btn--black {
  background: #212121;
  border: none;
  width: 180px;
  height: 48px;
  font-size: 1.6rem;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navFix .search form .input .btn--red {
  background: #930000;
  border: none;
  width: 180px;
  height: 48px;
  font-size: 1.6rem;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navFix.is-active {
  display: block;
}

@media (max-width: 767px) {
  .navFix.is-active {
    display: none;
  }
}

.navFixSp {
  position: fixed;
  bottom: 0;
  background-color: #d6d6d6;
  display: none;
  z-index: 999999;
}

.navFixSp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
}

.navFixSp li {
  padding: 0 5px;
}

.navFixSp a {
  display: block;
}

@media (max-width: 767px) {
  .navFixSp.is-active {
    display: block;
  }
}
