@charset "UTF-8";
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/* Slider */
.main__visual .items {
  margin: 0 5px;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: inline-block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 2px;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%;
  text-indent: -9999px;
  border: 2px solid #ccc;
  background-color: #fff;
}

.slick-dots li.slick-active button {
  background-color: #ccc;
}

.slick-next {
  background: url(../img/ico-next.png) no-repeat right center;
  background-size: 10px auto;
  display: block;
  width: 10px;
  text-indent: -99999px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 99999;
}

.slick-prev {
  background: url(../img/ico-prev.png) no-repeat right center;
  background-size: 10px auto;
  display: block;
  width: 10px;
  text-indent: -99999px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 99999;
}

/* Search Area */
.search {
  margin-bottom: 45px;
}

.search form {
  background-color: #e5ded1;
  padding: 7px 40px 19px 40px;
  border-radius: 3px 3px 0 0;
}

.search form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search form .label {
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.search form .input-radio {
  margin-left: 32px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.search form .input a {
  background: url(../img/bg_button01.jpg) repeat-x left top;
  border: 1px solid #ccc;
  width: 278px;
  height: 78px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 4px;
  font-weight: normal;
  padding-left: 20px;
  letter-spacing: 1px;
}

.search form .input a img {
  margin-right: 20px;
}

.search form .input a:hover {
  background: #fff;
}

.search form span {
  color: #9b833b;
  font-size: 2.6rem;
  font-weight: bold;
}

.search .submit {
  margin-left: 30px;
  margin-top: 13px;
}

.search .submit button {
  background: #333 url(../img/ico-search.png) no-repeat left 37px center;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  -webkit-box-shadow: 0 5px 0 #000;
          box-shadow: 0 5px 0 #000;
  width: 234px;
  height: 48px;
  line-height: 53px;
  color: #fff;
  font-size: 1.6rem;
  padding-left: 75px;
  text-align: left;
}

.search .submit button:hover {
  -webkit-box-shadow: 0 2px 0 #000;
          box-shadow: 0 2px 0 #000;
  bottom: -3px;
}

.search .more {
  background-color: #9b833b;
  -webkit-box-shadow: 0 5px 0 #88712b;
          box-shadow: 0 5px 0 #88712b;
  display: block;
  text-decoration: none;
  border-radius: 0 0 3px 3px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  letter-spacing: 2px;
}

.search .more img {
  margin-right: 35px;
}

/* Top Feature */
.c-topFeature {
  background: url(../img/featuretop_bg.jpg) no-repeat left top;
  background-size: cover;
  padding: 17px 70px 22px 70px;
  margin-bottom: 33px;
}

.c-topFeature h3 {
  text-align: center;
  margin-bottom: 19px;
}

.c-topFeature .items {
  margin-bottom: 24px;
  text-decoration: none;
}

.c-topFeature .items a {
  text-decoration: none;
}

.c-topFeature .items h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: 1.3px;
}

@media (max-width: 767px) {
  .c-topFeature--first .items {
    float: left;
    width: 48%;
  }
  .c-topFeature--first .items:last-child {
    float: right;
  }
}

.c-topFeature--first .items:first-child {
  float: left;
  margin-right: 30px;
}

.c-topFeature--first .items:first-child h4 {
  font-size: 2.1rem;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .c-topFeature--first .items:first-child h4 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .c-topFeature--first .items:first-child {
    float: none;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .c-topFeature--first {
    max-width: 430px;
    margin: auto;
  }
  .c-topFeature--first:after {
    display: block;
    clear: both;
    content: "";
  }
}

.c-topFeature--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.c-topFeature--list .items {
  margin-right: 30px;
}

.c-topFeature--list .items:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .c-topFeature--list .items {
    float: left;
    width: 48%;
    margin-right: 0;
  }
  .c-topFeature--list .items:nth-child(2n) {
    float: right;
  }
}

@media (max-width: 767px) {
  .c-topFeature--list {
    display: block;
    margin-top: 10px;
    max-width: 430px;
    margin: auto;
  }
  .c-topFeature--list:after {
    display: block;
    clear: both;
    content: "";
  }
}

@media (max-width: 767px) {
  .c-topFeature {
    padding: 15px 18px;
    margin: 0 -10px;
    background-size: 400px auto;
    background-repeat: repeat;
  }
}

/* Top recuit*/
.c-recruitList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-recruitList li {
  -webkit-box-shadow: 0 1px 1px #ccc;
          box-shadow: 0 1px 1px #ccc;
  background-color: #fff;
  margin: 0 10px;
}

.c-recruitList li:hover {
  opacity: 0.7;
}

.c-recruitList a {
  text-decoration: none;
}

.c-recruitList .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 18px;
  padding-right: 0;
}

.c-recruitList .content:after {
  display: block;
  clear: both;
  content: "";
}

.c-recruitList .content .date {
  font-size: 1rem;
}

.c-recruitList .content .msg {
  width: 135px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 135px;
          flex: 0 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-recruitList .content .img {
  width: 90px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  text-align: center;
}

.c-recruitList .content .img .name {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

.c-recruitList .content .img span {
  font-size: 1.2rem;
}

.c-recruitList .content .cat {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3px;
}

.c-recruitList .content .cat span {
  width: 62px;
  height: 21px;
  display: block;
}

.c-recruitList .content .cat .label--red {
  background-color: #c7403a;
  text-align: center;
  line-height: 21px;
  color: #fff;
  font-size: 1.1rem;
}

.c-recruitList .content .cat .label--elm {
  background-color: #217981;
  text-align: center;
  line-height: 21px;
  color: #fff;
  font-size: 1.1rem;
}

.c-recruitList h4 {
  margin-top: 5px;
  font-size: 1.5rem;
  line-height: 1.2;
}

/* Top find area*/
.c-findArea .head {
  background-color: #fff;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  display: table;
  margin-bottom: 20px;
  width: 100%;
}

.c-findArea h3 {
  font-size: 2.4rem;
  color: #333333;
  font-family: 游明朝, "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
  padding: 20px 32px 15px 30px;
  border-right: 1px solid #ccc;
  display: table-cell;
  width: 280px;
  margin-right: 0;
}

.c-findArea .date {
  font-size: 1.2rem;
  border-right: 1px solid #ccc;
  display: table-cell;
  padding-top: 28px;
  padding-bottom: 16px;
  width: 124px;
  padding-right: 5px;
  padding-left: 18px;
}

.c-findArea .num {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-findArea .num .amount {
  color: #9b833b;
  font-size: 3rem;
  font-family: 游明朝, "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
  font-weight: bold;
  margin-left: 25px;
  line-height: 20px;
  margin-right: 5px;
}

.c-findArea .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-findArea .tabs li {
  width: 395px;
  border-radius: 0 3px 0 0;
  background-color: #fff;
  height: 60px;
  border-radius: 3px 3px 0 0;
  font-size: 1.6rem;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.c-findArea .tabs li span {
  font-size: 2.2rem;
  font-weight: bold;
}

.c-findArea .tabs li.is-active {
  background-color: #d0be9c;
}

@media (max-width: 767px) {
  .c-findArea .tabs li {
    font-size: 1rem;
    width: 48%;
    height: 40px;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-bottom: none;
    line-height: 40px;
  }
  .c-findArea .tabs li span {
    font-size: 1.5rem;
  }
  .c-findArea .tabs li.is-active {
    border-color: transparent;
  }
}

@media (max-width: 767px) {
  .c-findArea .tabs {
    padding: 0 9px;
    margin-top: 10px;
  }
}

.c-findArea .tabs-item {
  background-color: #d0be9c;
  padding: 30px 23px 48px 23px;
  display: none;
}

.c-findArea .tabs-item.is-active {
  display: block;
}

.c-findArea .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-findArea .map {
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(3, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(3, 0, 0, 0.15);
  width: 375px;
  padding: 15px 20px;
  color: #666;
}

.c-findArea .map .title {
  font-size: 1.4rem;
  position: relative;
  z-index: 9999;
}

.c-findArea .map .title span {
  font-size: 2rem;
  color: #9b833b;
  font-weight: bold;
}

.c-findArea .map figure {
  display: block;
  margin-top: -5px;
  margin-bottom: 10px;
  position: relative;
  z-index: 999;
  text-align: center;
}

.c-findArea .mapBtn {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-findArea .mapBtn li {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3px;
  background-color: #f9f6f1;
  border: solid 1px #acacac;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e4dcce), color-stop(62%, #fff));
  background-image: -webkit-linear-gradient(bottom, #e4dcce, #fff 62%);
  background-image: linear-gradient(to top, #e4dcce, #fff 62%);
  padding: 0 25px;
  color: #666;
  cursor: pointer;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.c-findArea .mapBtn li:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4dcce), color-stop(62%, #fff));
  background-image: -webkit-linear-gradient(top, #e4dcce, #fff 62%);
  background-image: linear-gradient(to bottom, #e4dcce, #fff 62%);
}

.c-findArea .mapBtn li ~ li {
  margin-top: 15px;
}

.c-findArea .mapBtn li:after {
  position: absolute;
  content: "";
  right: 25px;
  background: url(../img/ico-plus-brown.png) no-repeat left top;
  width: 13px;
  height: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .c-findArea .mapBtn li {
    height: 60px;
  }
  .c-findArea .mapBtn li ~ li {
    margin-top: 0;
  }
}

.c-findArea .mapBtn p span {
  font-size: 2rem;
  color: #9b833b;
}

@media (max-width: 767px) {
  .c-findArea .mapBtn p span {
    font-size: 1.7rem;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .c-findArea .mapBtn p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (max-width: 767px) {
  .c-findArea .mapBtn {
    width: 100%;
  }
}

.c-findArea .more {
  clear: both;
  margin-top: 28px;
  display: block;
  border-radius: 3px;
  background-color: #d5c5a7;
  border: solid 1px #e5dac6;
  -webkit-box-shadow: 0px 5px 0px 0px #c4b290;
          box-shadow: 0px 5px 0px 0px #c4b290;
  margin-bottom: 30px;
  padding: 3px;
}

.c-findArea .more a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 7px 0;
  font-size: 1.6rem;
  border: 1px solid #d5c5a7;
  position: relative;
}

.c-findArea .more a:after {
  content: "";
  background: url(../img/ico-plus-white.png) no-repeat left center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 215px;
}

.c-findArea .more.is-active a {
  background-color: #333;
}

.c-findArea .more.is-active a:after {
  content: "";
  background: url(../img/ico-minus-white.png) no-repeat left center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 215px;
}

.c-findArea .moreContent {
  padding: 10px 20px;
  display: none;
}

.c-findArea .moreContent .mapBtn {
  width: 100%;
  display: block;
}

.c-findArea .moreContent .mapBtn:after {
  display: block;
  clear: both;
  content: "";
}

.c-findArea .moreContent .mapBtn li {
  width: 350px;
  float: left;
  margin: 0 0 10px 0;
  height: 78px;
}

.c-findArea .moreContent .mapBtn li:nth-child(2n) {
  float: right;
}

.c-findArea .moreContent .mapOther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-findArea .moreContent .mapOther .label {
  width: 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-findArea .moreContent .mapOther .label:before {
  content: "";
  width: 5px;
  background-color: #9b833b;
  height: 12px;
  margin-right: 10px;
}

.c-findArea .moreContent .mapOther [type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #999;
  -webkit-box-shadow: inset 0 1px 3px rgba(3, 0, 0, 0.35);
          box-shadow: inset 0 1px 3px rgba(3, 0, 0, 0.35);
  padding: 5px 20px;
  height: 54px;
}

.c-findArea .btn-submit {
  background: #930000 url(../img/ico-search.png) no-repeat left 110px center;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  -webkit-box-shadow: 0 5px 0 #570000;
          box-shadow: 0 5px 0 #570000;
  width: 450px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  margin: auto;
}

.c-findArea .btn-submit:hover {
  bottom: -3px;
  -webkit-box-shadow: 0 2px 0 #570000;
          box-shadow: 0 2px 0 #570000;
}

@media (max-width: 767px) {
  .c-findArea .btn-submit {
    width: 240px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-position: left 36px center;
    background-size: 17px auto;
    padding-left: 17px;
    margin-top: 16px;
  }
}

/* Top communication  */
.c-commu {
  background: url(../img/commu_bg.png) no-repeat left top;
  padding: 20px;
  margin: 43px 0 36px 0;
  padding-top: 25px;
}

.c-commu .box {
  background-color: #fff;
  margin-top: 15px;
  padding: 19px;
  font-size: 1.2rem;
  border-radius: 3px;
}

.c-commu .box figure {
  float: right;
}

.c-commu .box p {
  padding-top: 12px;
  padding-right: 20px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 1.4;
}

.c-commu .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.c-commu .button a {
  width: 365px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.c-commu .button a.--red {
  -webkit-box-shadow: 0 4px 0 #600;
          box-shadow: 0 4px 0 #600;
}

.c-commu .button a.--black {
  -webkit-box-shadow: 0 4px 0 #000;
          box-shadow: 0 4px 0 #000;
}

.c-commu .button a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: -4px;
}

@media (max-width: 767px) {
  .c-commu .button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-commu .button a {
    margin-top: 12px;
    width: 100%;
    line-height: 1.4;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 0;
  }
  .c-commu .button a span {
    display: block;
  }
}

@media (max-width: 767px) {
  .c-commu {
    padding: 30px 17px 25px 17px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    background: url(../img/persion_img01.jpg) no-repeat right top;
    background-size: cover;
  }
}

/* Top partime search */
.c-partTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-partTime li {
  text-align: center;
  width: 72px;
  margin-top: 5px;
}

.c-partTime li:first-child {
  width: 85px;
  text-align: left;
  font-weight: bold;
}

.c-partTime li:after {
  content: "｜";
  float: right;
}

@media (max-width: 767px) {
  .c-partTime li:first-child {
    width: 110px;
  }
}

.c-commu1 {
  background-color: #fff;
  padding: 20px 0 30px 0;
}

/* Top recommend */
.c-recommend {
  padding-top: 24px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 30px;
}

.c-recommend a {
  text-decoration: none;
}

.c-recommend h3 {
  text-align: center;
  margin-bottom: 20px;
}

.c-recommend dl {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
  background: #fff url(../img/ico-angle-right-redBold.png) no-repeat right 12px center;
  background-size: 10px auto;
  margin-bottom: 10px;
}

.c-recommend dt {
  background: url(../img/bg_title.png) repeat-y left top;
  background-size: 5px auto;
  font-size: 1.25rem;
  color: #9b833b;
  font-weight: bold;
  padding-left: 14px;
  margin-bottom: 15px;
}

.c-recommend dd {
  padding-left: 20px;
}

.c-recommend dd li {
  color: #666;
}

.c-recommend dd li:after {
  display: block;
  clear: both;
  content: "";
}

.c-recommend dd li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-recommend dd li:first-child img {
  margin-right: 5px;
}

.c-recommend dd li span {
  display: block;
  float: left;
  overflow: hidden;
}

.c-recommend dd li span:first-child {
  width: 90px;
  font-weight: bold;
}

.c-recommend dd li span:first-child:after {
  content: "：";
  float: right;
}

.c-recommend .foot a {
  background: url(../img/ico-next.png) no-repeat right 20px center;
  background-size: 10px auto;
  display: block;
  width: 100%;
  max-width: 335px;
  margin: auto;
  z-index: 99999;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
  font-size: 1.2rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
}

.mb03 {
  margin-bottom: 3px;
}

.mb05 {
  margin-bottom: 5px;
}

.c-fixpp dd p {
  margin-top: -4px;
  margin-bottom: 10px;
}

.l-fixpp {
  margin-bottom: 32px;
}

.l-fixpp1 {
  margin-bottom: 28px;
}

/* Top link */
.c-link h4 {
  margin-bottom: 7px;
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
}

.c-link .link {
  padding-bottom: 10px;
}

.c-link .link:after {
  display: block;
  clear: both;
  content: "";
}

.c-link .link:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-link .link a {
  display: block;
  width: 31.333333333%;
  float: left;
  font-size: 1rem;
  background: #fff url(../img/ico-angle-right-brownSP.png) no-repeat right 10px center;
  background-size: 4px auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 5px;
}

.c-link .link a:nth-child(3n) {
  margin-right: 0;
}
