@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	font-family: "Noto Sans Japanese", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	-webkit-text-size-adjust: auto;
	min-width: 1140px;
	background-color: #f9f6f1;
	@include sp() {
		min-width: auto;
	}
}

.container {
	margin: 0 auto;
	width: 1140px;
	text-align: left;
	position: relative;
	@include sp() {
		width: 100%;
		padding: 0 10px;
	}
}

.l-main {
	font-size: 1.4rem;
	@include cf;
	// @extend %cf;

}
 
a {
	color: #222;
}

img {
	@include sp() {
		max-width: 100%;
		height: auto;
	}
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.l-header {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding-bottom: 2px;
	.container {
		@include cf;
	}
	.logo {
		display: block;
		padding: 0;
		margin-bottom: 9px;
		&:hover {
			opacity: 0.7;
		}
	}
	h1 {
		padding-top: 3px;
    padding-bottom: 6px;
    font-size: 1.1rem;
    font-weight: normal;
    letter-spacing: -1px;
		@include sp() {
			display: none;
		}
	}
	.c-headerLeft {
		float: left;
		width: 830px;
		@include sp() {
			width: auto;
			p {
				display: none;
			}
		}
	}
	.c-headerRight	{
		float: right;
		color: #666;
		widtH: 270px;
		font-size: 1.2rem;
		padding-top: 6px;
		ul {
			display: flex;
			justify-content: space-between;
			margin-bottom: 11px;
			@include sp() {
				display: none;
			}
		}
		li {
			a {
				color: #666;
				text-decoration: none;
				font-size: 1.2rem;
				letter-spacing: 2px;
				background: url(../img/ico-bullet.png) no-repeat left center;
				padding-left: 10px;
				&:hover {
					color: #930000;
				}
			}
		}
		.tel {
			margin-bottom: 14px;
			display: block;
		}
	}
	.btn {
		background: #930000 url(../img/ico-angle-right.png) no-repeat left 30px center;
		font-size: 1.7rem;
		height: 40px;
		line-height: 40px;
		padding-left: 47px;
		letter-spacing: 4px;
		&:hover {
			box-shadow: none;
			bottom: -2px;
		}
		@include sp() {
			display: none;
		}
	}
	.headerSP {
		display: flex;
		justify-content: space-between;
		a {
			display: block;
		}
		.rig {
			display: flex;
			align-items: center;
		}
		.logo {
			display: flex;
			align-items: center;
			margin-bottom: 0;
		}
		.btn-menu {
			margin-left: 17px;
			width: 32px;
			height: 32px;
			background: url(../img/btn_menu.png) no-repeat center;
			background-size: 27px;
			&.is-active {
				background: url(../img/btn_menu_active.png) no-repeat center;
				background-size: 27px;
			}
		}
		#gNavSP {
			background-color: #9b833b;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 999999;
			display: none;
			ul {
				padding: 0 8px;
			}
			li {
				border-bottom: 1px solid #af9c62;
				color: #fff;
				&.close {
					padding: 15px 0;
					text-align: center;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				font-size: 1.25rem;
				font-weight: normal;
				display: block;
				padding: 15px 10px;
			}
		}
	}
	@include sp {
		padding-top: 10px;
		padding-bottom: 10px;
		
	}
}

#gNav {
	position: relative;
	margin-top: 19px;
	ul {
		display: flex;
		height: 33px;
	}
	li {
		
		&:before {
			content: "|";
			font-size: 1.3rem;
			color: #adadad;
		}
	}
	a {
		font-size: 1.4rem;
		text-decoration: none;
		content: "|";
		font-size: 1.4rem;
		color: #333;
		padding: 0 23px;
		&:hover {
			border-bottom: #600;
			color: #600;
		}
	}
	@include sp() {
		display: none;
	}
}


.l-left {
	display: block;
	float: left;
	width: 800px;
	@include sp() {
		float: none;
		width: 100%;
	}
}
.l-right {
	overflow: hidden;
	padding-left: 40px;
	@include sp {
		width: 100%;
		float: none;
		padding-left: 0;
		overflow: inherit;
	}
}
/*------------------------------------------------------------
	btn
------------------------------------------------------------*/

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.l-footer {
	background-color: #e5ded1;
	padding-top: 40px;
	margin-top: 43px;
	font-weight: normal;
	color: #666;
	#backTop {
		position: absolute;
		right: 10px;
		top: -85px;
	}
	h3 {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		color: #333;
		font-weight: bold;
		margin-bottom: 12px;
		&.fixpp {
			margin-top: 37px;
		}
		&:before {
			content: "";
			width: 3px;
			background-color: #9b833b;
			height: 12px;
			margin-right: 5px;
		}
	}
	@include sp {
		padding-top: 0;
		margin-top: 30px;
		overflow: hidden;
		.c-pageTop {
			background-color: #a48b3f;
			a {
				display: block;
				color: #fff;
				text-decoration: none;
				text-align: center;
				padding: 15px 0;
				font-size: 1.2rem;
			}
			span {
				position: relative;
				&:before {
					display: block;
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-51%);
					left: -15px;
					width: 0;
					height: 0;
					border: 5px solid transparent;
					border-bottom: 8px solid #fff;
				}
			}
		}
	}
}
.c-footerNavSP {
	margin-bottom: 15px;
	
	ul {
		margin: 0 -15px;
	}
	li {
		padding: 15px 18px;
		border-bottom: 1px solid #fff;
		
		&.ct {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	a {
		font-size: 1.4rem;
		text-decoration: none;
		&.btn {
			text-align: center;
			font-weight: bold;
			padding: 10px 0;
			font-size: 1.6rem;
			border-radius: 5px;
			line-height: 1.3;
		}
	}
	.d {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		li {
			width: 50%;
			margin: 0;
			&:nth-child(2n) {
				border-left: 1px solid #fff;
			}
		}
	}
}
.c-footerContent {
	border-bottom: 1px solid #999;
	padding-bottom: 40px;
	margin-bottom: 38px;
	font-size: 1rem;
	p {
		line-height: 13px;
    letter-spacing: 1px;
	}
}
.c-footerNav {
	border-bottom: 1px solid #999;
	margin-bottom: 40px;
	padding-bottom: 18px;
	.nav {
		overflow: hidden;
		padding-left: 10px;
		margin-bottom: 22px;
		font-size: 1.2rem;
		p {
			float: left;
			width: 165px;
			font-weight: bold;
		}
		ul {
			overflow: hidden;
			li {
				display: block;
				float: left;
				&:last-child {
					&:after {
						content: "";
					}
				}
				&:after {
					content: "/";
					margin-left: 10px;
					margin-right: 10px;
				}
			}
			a {
				text-decoration: none;
				font-size: 1.2rem;
				color: #666;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.c-footerBottom {
	text-align: center;
	font-size: 1.2rem;
	padding-bottom: 30px;
	p {
		margin-bottom: 10px;
	}
	.copy {
		font-size: 1.2rem;
		padding-top: 10px;
	}
}
