@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.pc-only {
	display: block !important;
	@include sp() {
		display: none !important;
	}
}
.sp-only {
	display: none !important;
	@include sp() {
		display: block !important;
	}
}

/* Custom radio */
[type="radio"] {
	position: absolute;
	display: none;
}

[type="radio"][disabled] {
	cursor: not-allowed;
}

[type="radio"]+label {
	padding-bottom: 10px;
	position: relative;
	display: block;
	padding-left: 35px;
	cursor: pointer;
	vertical-align: middle;
	font-size: 1.6rem;
	color: #333;
	font-weight: bold;
}

[type="radio"]+label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	content: '';
	border: 1px solid #ccc;
}

[type="radio"]+label:after {
	position: absolute;
	display: none;
	content: '';
}

[type="radio"][disabled]+label {
	cursor: not-allowed;
	color: #ccc;
}

[type="radio"][disabled]+label:before {
	border-color: #ccc;
}

[type="radio"]:checked+label:before {
	animation-name: none;
}

[type="radio"]:checked+label:after {
	display: block;
}

[type="radio"]+label:before {
	border-radius: 50%;
	background: #fff;
}

[type="radio"]+label:after {
	top: 8px;
	left: 8px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}

[type="radio"]:checked+label:before {
	border: 1px solid #9b833b;
	background: #9b833b;
}

[type="radio"]:checked[disabled]+label:before {
	border: 1px solid #c9e2f9;
}

[type="radio"]:checked[disabled]+label:after {
	background: #c9e2f9;
}

/* custom checbox*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .25em; left: .275em;
  font-size: 1.2em;
  line-height: 0.8;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/*------------------------------------------------------------
	Main content
------------------------------------------------------------*/
.l-main {
	.search {
		margin-top: 40px;
	}
}

/*------------------------------------------------------------
	Main content
------------------------------------------------------------*/
.l-block {
	margin-bottom: 40px;
	color: #666;
	.foot {
		@include sp() {
			a {
				background: url(../img/ico-next.png) no-repeat right 20px center;
				background-size: 10px auto;
				display: block;
				width: 252px;
				margin: auto;
				z-index: 99999;
				border: 1px solid #ccc;
				border-radius: 5px;
				color: #666;
				font-size: 1.2rem;
				height: 50px;
				line-height: 50px;
				text-align: center;
				text-decoration: none;
				margin-top: 15px;
			}
		}
	}
}

/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.c-titleLine {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #ccc;
	position: relative;
	margin-bottom: 12px;
	padding-bottom: 13px;
	color: #333;
	font-weight: bold;
	&:before {
		width: 100px;
		height: 2px;
		background-color: #000;
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
	}
	h3 {
		font-size: 1.5rem;
		padding-top: 15px;
		letter-spacing: 2px;
	}
	a {
		font-size: 1.2rem;
		border-radius: 3px;
		background: url(../img/ico-angle-right01.png) no-repeat right 10px center;
		border: solid 1px #ccc;
		font-size: 1.2rem;
		text-decoration: none;
		height: 30px;
		line-height: 27px;
		text-align: center;
		color: #666;
		position: absolute;
    right: 0;
    top: 9px;
		&.--smW {
			width: 160px;
		}
		&.--lgW {
			width: 195px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	@include sp {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
}

/*------------------------------------------------------------
	button
------------------------------------------------------------*/
.btn {
	width: 100%;
	display: block;
	color: #fff;
	border-radius: 3px;
	position: relative;
	text-decoration: none;
	&.--red {
		background-color: #930000;
		box-shadow: 0 3px 0 #600;
	}
	&.--black {
		background-color: #212121;
		box-shadow: 0 3px 0 #000;
	}
}

.c-listDl {
	padding: 13px 0;
	border-bottom: 1px solid #ccc;
	background: url(../img/ico-angle-right-bold.png) no-repeat right 10px center;
	dt {
		color: #9b833b;
		font-weight: bold;
	}
	dd {
		padding-left: 20px;
		@include cf;
		font-size: 1.2rem;
		color: #666;
		.col {
			display: block;
			float: left;
			span {
				overflow: hidden;
				float: none;
			}
			span:first-child {
				width: 75px;
				float: left;
				&:after {
					content: "：";
				}
				@include sp() {
					width: 75px;
					overflow: hidden;
					display: block;
				}
			}
			&:first-child {
				width: 215px;
				span:first-child {
					width: 75px;
				}
			}
		}
		p {
			@include cf;
			margin-top: 5px;
			span {
				display: block;
				float: left;

			}
		}
		@include sp() {
			padding-left: 0;
		}
	}
	@include sp() {
		padding: 15px 0;
	}
}

.c-boxResult {
	background-color: #e2c308;
}

/*------------------------------------------------------------
	sidebar area
------------------------------------------------------------*/
.c-boxResult {
	padding: 20px;
	margin-bottom: 40px;
	a {
		display: block;
		border-radius: 3px;
		background: #f9f6f1 url(../img/ico-angle-right-red.png) no-repeat left 30px center;
		text-align: center;
		box-shadow: 0 3px 3px rgba(3,0,0,.2);
		text-decoration: none;
		font-size: 2rem;
		width: 260px;
		height: 64px;
		margin-top: 15px;
		line-height: 64px;
		&:last-child {
			margin-top: 10px;
		}
	}
}
.c-boxWhite {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 38px;
	ul {
		li {
			display: flex;
			font-size: 1.2rem;
			& ~ li {
				margin-top: 15px;
			}
		}
	}
	p {
		padding-left: 25px;
	}
}
.c-boxRecruit {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #e5ded1;
	h3 {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		color: #333;
		font-weight: bold;
		margin-bottom: 15px;
		&:before {
			content: "";
			width: 3px;
			background-color: #9b833b;
			height: 12px;
			margin-right: 5px;
		}
	}
	ul {
		li {
			background-color: #fff;
			padding: 8px 10px;
			@include sp {
				figure {
					display: block;
					float: left;
					margin-right: 20px;
					width: 40%;
				}
				@include cf;
			}
			& ~ li {
				margin-top: 10px;
			}
			@include sp {
				padding: 14px 10px;
				background: #fff url(../img/ico-angle-right-brown.png) no-repeat right 10px center;
				background-size: 6px auto;
				padding-right: 20px;
			}
		}
		h4 {
			margin-top: 10px;
			margin-bottom: 5px;
			@include sp {
				margin-top: 8px;
				font-size: 1.5rem;
				color: #9b833b;
				margin-bottom: 10px;
			}
		}
		p {
			font-size: 1.2rem;
		}
		
	}
	.more {
		display: block;
		border: 1px solid #fff;
		font-size: 1.2rem;
		border-radius: 3px;
		text-decoration: none;
		text-align: center;
		margin-top: 11px;
		padding-top: 4px;
		padding-bottom: 6px;
		background: url(../img/ico-angle-right.png) no-repeat right 25px center;
		@include sp {
			background: url(../img/ico-angle-right-white.png) no-repeat right 25px center;
			
			background-size: 10px auto;
			display: block;
			width: 100%;
			margin: auto;
			z-index: 99999;
			border: 1px solid #fff;
			border-radius: 5px;
			color: #666;
			font-size: 1.25rem;
			height: 52px;
			text-align: center;
			text-decoration: none;
			margin-top: 15px;
			line-height: 42px;
		}
	}
	@include sp {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 30px;
	}
}
.c-boxBtn {
	margin-bottom: 13px;
	.btnBar {
		display: block;
		height: 100px;
		line-height: 100px;
		font-size: 2.3rem;
		text-decoration: none;
		text-align: center;
		margin-bottom: 5px;
		border: 1px solid #ccc;
		margin-bottom: 10px;
		@include sp {
			background-color: #fff;
			height: 120px;
			line-height: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2.5rem;
		}
	}
	.btnaq {
		background-color: #2e98a2;
		color: #333;
		@include sp {
			font-size: 4.5rem;
		}
	}
	.btnYellow {
		background-color: #e2c308;
	}
	.btnAstral {
		background-color: #2e98a2;
	}
	.btnRed {
		background-color: #c7403a;
	}
	.btnBlue {
		background-color: #114f7a;
	}
	p {
		font-size: 1.2rem;
	}
	a {
		&:hover {
			opacity: 0.7;
		}
	}
}
.c-boxInfo {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #fff;
	h3 {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		color: #333;
		font-weight: bold;
		margin-bottom: 13px;
		&:before {
			content: "";
			width: 3px;
			background-color: #9b833b;
			height: 12px;
			margin-right: 5px;
		}
	}
	ul {
		li {
			background-color: #fff;
			padding: 10px;
			& ~ li {
				margin-top: 10px;
			}
		}
		h4 {
			margin-top: 10px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1.2rem;
		}
	}
	.more {
		display: block;
		border: 1px solid #ccc;
		font-size: 1.2rem;
		border-radius: 3px;
		text-decoration: none;
		text-align: center;
		margin-top: 11px;
		padding-top: 4px;
		padding-bottom: 6px;
		background: url(../img/ico-angle-right01.png) no-repeat right 25px center;
		@include sp {
			background-size: 10px auto;
			display: block;
			width: 100%;
			margin: auto;
			z-index: 99999;
			border: 1px solid #ccc;
			border-radius: 5px;
			color: #666;
			font-size: 1.2rem;
			height: 50px;
			text-align: center;
			text-decoration: none;
			margin-top: 15px;
			line-height: 40px;
		}
	}
	dl {
		font-size: 1.2rem;
		margin-bottom: 14px;
		@include sp {
			padding: 0 10px;
		}
	}
	dt {
		margin-bottom: 7px;
		h4 {
			font-size: 1.4rem;
			font-weight: bold;
			margin-top: 3px;
		}
	}
	dd {
		font-weight: normal;
    line-height: 16px;
	}
	@include sp {
		margin-left: -10px;
		margin-right: -10px;
		margin-top: 30px;
		margin-bottom: 30px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

/* Popup */
/* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.35);
	z-index: 9999999;
}

/* Inner */
.popup-inner {
	max-width: 900px;
	width:90%;
	position:absolute;
	top:50%;
	left:50%;
	
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow: 0 0 45px 4px rgba(0,0,0,.35);
	border-radius:3px;
	background:#fff;
	h3 {
		font-size: 2.2rem;
		color: #333;
		padding: 15px 0;
		margin: 0 20px;
		border-bottom: 2px solid #ccc; 
		position: relative;
		margin-bottom: 5px;
		&:after {
			width: 200px;
			background-color: #9b833b;
			height: 2px;
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
		}
	}
	.img {
		text-align: center;
	}
	#formEnd {
		text-align: center;
		padding: 90px 0 20px 0;
	}
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top: 10px;
	right: 30px;
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#333;
	text-decoration: none;
}
.navFix {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999999;
	background-color: #e5ded1;
	border-top: 1px solid #ccc;
	display: none;
	.search {
		margin-bottom: 0;
		.submit {
			display: flex;
			margin-left: 20px;
			flex: 1 1 auto;
			justify-content: space-between;
		}
		form {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 0;
			padding-right: 0;
			.input-radio {
				margin-left: 20px;
			}
			.input {
				a {
					width: 260px;
				}
				.btn.--black {
					background: #212121;
					border: none;
					width: 180px;
					height: 48px;
					font-size: 1.6rem;
					padding-left: 0;
					justify-content: center;
				}
				.btn.--red {
					background: #930000;
					border: none;
					width: 180px;
					height: 48px;
					font-size: 1.6rem;
					padding-left: 0;
					justify-content: center;
				}
			}
		}
	}
	&.is-active {
		display: block;
	}
	@include sp {
		&.is-active {
			display: none;
		}
	}
}
.navFixSp {
	position: fixed;
	bottom: 0;
	background-color: #d6d6d6;
	display: none;
	z-index: 999999;
	ul {
		display: flex;
		padding: 10px 5px;
	}
	li {
		padding: 0 5px;
	}
	a {
		display: block;
	}
	@include sp {
		&.is-active {
			display: block;
		}
	}
}