@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/

	/* Slider */
	.main__visual .items {
		margin: 0 5px;
	}
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
	}
	.slick-track:before,
	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}

	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: inline-block;
	}
	
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 6px;
		text-align: center;
	}
	.slick-dots li {
		display: inline-block;
		vertical-align: bottom;
		padding: 0 2px;
	}
	.slick-dots li button {
		width: 14px;
		height: 14px;
		display: block;
		border-radius: 50%;
		text-indent: -9999px;
		border: 2px solid #ccc;
		background-color: #fff;
	}
	.slick-dots li.slick-active button {
		background-color: #ccc;
	}
	.slick-next {
		background: url(../img/ico-next.png) no-repeat right center;
		background-size: 10px auto;
		display: block;
		width: 10px;
		text-indent: -99999px;
		height: 100%;
		position: absolute;
		right: 0;
		z-index: 99999;
	}
	.slick-prev {
		background: url(../img/ico-prev.png) no-repeat right center;
		background-size: 10px auto;
		display: block;
		width: 10px;
		text-indent: -99999px;
		height: 100%;
		position: absolute;
		left: 0;
		z-index: 99999;
	}
	/* Search Area */
	.search {
		margin-bottom: 45px;
		form {
			background-color: #e5ded1;
			padding: 7px 40px 19px 40px;
			border-radius: 3px 3px 0 0;
			.input {
				display: flex;
			}
			.label {
				margin-bottom: 5px;
				font-weight: bold;
				letter-spacing: 1.3px;
			}
			.input-radio {
				margin-left: 32px;
				margin-top: 10px;
				letter-spacing: 2px;
			}
			.input a {
				background: url(../img/bg_button01.jpg) repeat-x left top;
				border: 1px solid #ccc;
				width: 278px;
    		height: 78px;
				font-size: 2rem;
				display: flex;
				align-items: center;
				text-decoration: none;
				border-radius: 4px;
				font-weight: normal;
				padding-left: 20px;
				letter-spacing: 1px;
				img {
					margin-right: 20px;
				}
				&:hover {
					background: #fff;
				}
			}
			span {
				color: #9b833b;
				font-size: 2.6rem;
				font-weight: bold;
			}
		}
		.submit {
			margin-left: 30px;
			margin-top: 13px;
			button {
				background: #333 url(../img/ico-search.png) no-repeat left 37px center;
				border-radius: 3px;
				box-sizing: border-box;
				font-weight: bold;
				letter-spacing: 2px;
				position: relative;
				box-shadow: 0 5px 0 #000;
				width: 234px;
				height: 48px;
				line-height: 53px;
				color: #fff;
				font-size: 1.6rem;
				padding-left: 75px;
				text-align: left;
				&:hover {
					box-shadow: 0 2px 0 #000;
					bottom: -3px;
				}
			}
		}
		.more {
			background-color: #9b833b;
			box-shadow: 0 5px 0 #88712b;
			display: block;
			text-decoration: none;
			border-radius: 0 0 3px 3px;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			letter-spacing: 2px;
			img {
				margin-right: 35px;
			}
		}
	}

	/* Top Feature */
	.c-topFeature {
		background: url(../img/featuretop_bg.jpg) no-repeat left top;
		background-size: cover;
		padding: 17px 70px 22px 70px;
		margin-bottom: 33px;
		h3 {
			text-align: center;
			margin-bottom: 19px;
		}
		.items {
			margin-bottom: 24px;
			text-decoration: none;
			a {
				text-decoration: none;
			}
			h4 {
				font-size: 1.2rem;
				font-weight: bold;
				margin-top: 5px;
				letter-spacing: 1.3px;
			}
		}
		&--first	{
			.items {
				@include sp() {
					float: left;
					width: 48%;
					&:last-child {
						float: right;
					}
				}
				&:first-child {
					float: left;
					margin-right: 30px;
					h4 {
						font-size: 2.1rem;
						letter-spacing: 2px;
						@include sp {
							font-size: 1.5rem;
							margin-top: 10px;
						}
					}
					@include sp() {
						float: none;
						width: 100%;
					}
				}
			}
			@include sp() {
				@include cf();
				max-width: 430px;
				margin: auto;
			}
		}
		&--list {
			display: flex;
			margin-top: 20px;
			.items {
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				@include sp() {
					float: left;
					width: 48%;
					margin-right: 0;
					&:nth-child(2n) {
						float: right;
					}
				}
			}
			@include sp() {
				@include cf();
				display: block;
				margin-top: 10px;
				max-width: 430px;
				margin: auto;
			}
		}
		@include sp() {
			padding: 15px 18px;
			margin: 0 -10px;
			background-size: 400px auto;
			background-repeat: repeat;
		}
	}

	/* Top recuit*/
	.c-recruitList {
		display: flex;
		justify-content: space-between;
		li {
			box-shadow: 0 1px 1px #ccc;
			background-color: #fff;
			margin: 0 10px;
			&:hover {
				opacity: 0.7;
			}
		}
		a {
			text-decoration: none;
		}
		.content {
			@include cf;
			display: flex;
			padding: 15px 18px;
			padding-right: 0;
			.date {
				font-size: 1rem;
			}
			.msg {
				width: 135px;
				flex: 0 0 135px;
				display: flex;
				flex-direction: column;
			}
			.img {
				width: 90px;
				flex: 0 0 90px;
				text-align: center;
				.name {
					font-size: 1rem;
					color: #333;
					margin-top: 5px;
				}
				span {
					font-size: 1.2rem;
				}
			}
			.cat {
				flex: 1 1 100%;
				display: flex;
				align-items: flex-end;
				padding-bottom: 3px;
				span {
					width: 62px;
					height: 21px;
					display: block;
				}
				.--red {
					background-color: #c7403a;
					text-align: center;
					line-height: 21px;
					color: #fff;
					font-size: 1.1rem;
				}
				.--elm {
					background-color: #217981;
					text-align: center;
					line-height: 21px;
					color: #fff;
					font-size: 1.1rem;
				}
			}
		}
		h4 {
			margin-top: 5px;
			font-size: 1.5rem;
			line-height: 1.2;
		}
	}

	/* Top find area*/
	.c-findArea {
		.head {
			background-color: #fff;
			border-top: 1px solid #4a4a4a;
			border-bottom: 1px solid #4a4a4a;
			display: table;
			margin-bottom: 20px;
			width: 100%;
		}
		h3 {
			font-size: 2.4rem;
			color: rgb(51, 51, 51);
			font-family: 游明朝, "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
			text-align: center;
			vertical-align: bottom;
			font-weight: normal;
			padding: 20px 32px 15px 30px;
			border-right: 1px solid #ccc;
			display: table-cell;
			width: 280px;
			margin-right: 0;
		}
		.date {
			font-size: 1.2rem;
			border-right: 1px solid #ccc;
			display: table-cell;
			padding-top: 28px;
			padding-bottom: 16px;
			width: 124px;
			padding-right: 5px;
			padding-left: 18px;
		}
		.num {
			padding-left: 15px;
			display: flex;
			font-size: 1.2rem;
			align-items: flex-end;
			.amount {
				color: #9b833b;
				font-size: 3rem;
				font-family: 游明朝, "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝";
				font-weight: bold;
				margin-left: 25px;
				line-height: 20px;
				margin-right: 5px;
			}
		}
		.tabs {
			display: flex;
			justify-content: space-between;
			li {
				width: 395px;
				border-radius: 0 3px 0 0;
				background-color: #fff;
				height: 60px;
				border-radius: 3px 3px 0 0;
				font-size: 1.6rem;
				text-align: center;
				line-height: 60px;
				cursor: pointer;
				span {
					font-size: 2.2rem;
					font-weight: bold;
				}
				&.is-active {
					background-color: #d0be9c;
				}
				@include sp {
					font-size: 1rem;
					width: 48%;
					height: 40px;
					background-color: #efefef;
					border: 1px solid #ccc;
					border-bottom: none;
					line-height: 40px;
					span {
						font-size: 1.5rem;
					}
					&.is-active {
						border-color: transparent;
					}
				}
			}
			@include sp {
				padding: 0 9px;
				margin-top: 10px;
			}
		}
		.tabs-item {
			background-color: #d0be9c;
			padding: 30px 23px 48px 23px;
			display: none;
			&.is-active {
				display: block;
			}
		}
		.wrap {
			display: flex;
			justify-content: space-between;
		}
		.map {
			border-radius: 3px;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(3,0,0,.15);
			width: 375px;
			padding: 15px 20px;
			color: #666;
			.title {
				font-size: 1.4rem;
				position: relative;
				z-index: 9999;
				span {
					font-size: 2rem;
					color: #9b833b;
					font-weight: bold;
				}
			}
			figure {
				display: block;
				margin-top: -5px;
				margin-bottom: 10px;
				position: relative;
				z-index: 999;
				text-align: center;
			}
		}
		.mapBtn {
			width: 360px;
			display: flex;
			flex-direction: column;
			
			li {
				width: 100%;
				flex: 1;
				border-radius: 3px;
				background-color: #f9f6f1;
				border: solid 1px #acacac;
				background-image: linear-gradient(to top, #e4dcce, #fff 62%);
				padding: 0 25px;
				color: #666;
				cursor: pointer;
				font-weight: bold;
				display: flex;
				justify-content: center;
				flex-direction: column;
				position: relative;
				&:hover {
					background-image: linear-gradient(to bottom, #e4dcce, #fff 62%);
				}
				& ~ li {
					margin-top: 15px;
				}
				&:after {
					position: absolute;
					content: "";
					right: 25px;
					background: url(../img/ico-plus-brown.png) no-repeat left top;
					width: 13px;
					height: 14px;
					top: 50%;
					transform: translateY(-50%);
				}
				@include sp {
					height: 60px;
					
					& ~ li {
						margin-top: 0;
					}
				}
			}
			p {
				span {
					font-size: 2rem;
					color: #9b833b;
					@include sp {
						font-size: 1.7rem;
						margin-left: 10px;
					}
				}
				@include sp {
					display: flex;
					align-items: baseline;
				}
			}
			@include sp {
				width: 100%;
			}
		}
		.more {
			clear: both;
			margin-top: 28px;
			display: block;
			border-radius: 3px;
			background-color: #d5c5a7;
			border: solid 1px #e5dac6;
			box-shadow: 0px 5px 0px 0px rgba(196,178,144,1);
			margin-bottom: 30px;
			padding: 3px;
			a {
				color: #fff;
				text-decoration: none;
				text-align: center;
				display: block;
				font-weight: bold;
				padding: 7px 0;
				font-size: 1.6rem;
				border: 1px solid #d5c5a7;
				position: relative;
				&:after {
					content: "";
					background: url(../img/ico-plus-white.png) no-repeat left center;
					width: 15px;
					height: 15px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 215px;
				}
			}
			&.is-active {
				a {
					background-color: #333;
					&:after {
						content: "";
						background: url(../img/ico-minus-white.png) no-repeat left center;
						width: 15px;
						height: 15px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 215px;
					}
				}
			}
		}
		.moreContent {
			padding: 10px 20px;
			display: none;
			.mapBtn {
				width: 100%;
				flex-flow: row wrap;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					width: 350px;
					flex: 0 0 350px;
					margin: 0 0 10px 0;
					height: 78px;
				}
			}
			.mapOther {
				display: flex;
				.label {
					width: 120px;
					flex: 0 0 120px;
					font-weight: bold;
					
					display: flex;
					align-items: center;
					&:before {
						content: "";
						width: 5px;
						background-color: #9b833b;
						height: 12px;
						margin-right: 10px;
					}
				}
				[type="text"] {
					flex: 1 1 100%;
					border-radius: 3px;
					background-color: #fff;
					border: solid 1px #999;
					box-shadow: inset 0 1px 3px rgba(3,0,0,.35);
					padding: 5px 20px;
					height: 54px;
				}
			}
		}
		.btn-submit {
			background: #930000 url(../img/ico-search.png) no-repeat left 110px center;
			border-radius: 3px;
			box-sizing: border-box;
			font-weight: bold;
			letter-spacing: 2px;
			position: relative;
			box-shadow: 0 5px 0 #570000;
			width: 450px;
			height: 50px;
			line-height: 50px;
			color: #fff;
			font-size: 1.6rem;
			text-align: center;
			margin: auto;
			&:hover {
				bottom: -3px;
				box-shadow: 0 2px 0 #570000;
			}
			@include sp {
				width: 240px;
				height: 60px;
				border-radius: 5px;
				font-size: 1.5rem;
				background-position: left 36px center;
				background-size: 17px auto;
				padding-left: 17px;
				margin-top: 16px;
			}
		}
	}

	/* Top communication  */
	.c-commu {
		background: url(../img/commu_bg.png) no-repeat left top;
		padding: 20px;
		margin: 43px 0 36px 0;
		padding-top: 25px;
		
		.box {
			background-color: #fff;
			margin-top: 15px;
			padding: 19px;
			font-size: 1.2rem;
			border-radius: 3px;
			figure {
				float: right;
			}
			p {
				padding-top: 12px;
				padding-right: 20px;
				overflow: hidden;
				letter-spacing: 1px;
				line-height: 1.4;
			}
		}
		.button {
			display: flex;
			justify-content: space-between;
			margin-top: 8px;
			a {
				width: 365px;
				height: 49px;
				line-height: 49px;
				text-align: center;
				font-weight: bold;
				letter-spacing: 1px;
				&.--red {
					box-shadow: 0 4px 0 #600;
				}
				&.--black {
					box-shadow: 0 4px 0 #000;
				}
				&:hover {
					box-shadow: none;
					bottom: -4px;
				}
			}
			@include sp() {
				flex-wrap: wrap;
				a {
					margin-top: 12px;
					width: 100%;
					line-height: 1.4;
					height: 45px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 5px 0;
					span {
						display: block;
					}
				}
			}
		}
		@include sp() {
			padding: 30px 17px 25px 17px;
			margin-bottom: 20px;
			margin-left: -10px;
			margin-right: -10px;
			background: url(../img/persion_img01.jpg) no-repeat right top;
			background-size: cover;
		}
	}

	/* Top partime search */
	.c-partTime {
		display: flex;
		li {
			text-align: center;
			width: 72px;
			margin-top: 5px;
			&:first-child {
				width: 85px;
				text-align: left;
				font-weight: bold;
			}
			&:after {
				content: "｜";
				float: right;
			}
			@include sp {
				&:first-child {
					width: 110px;
				}
			}
		}
	}

	.c-commu1 {
		background-color: #fff;
		padding: 20px 0 30px 0;
	}

	/* Top recommend */
	.c-recommend {
		padding-top: 24px;
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 30px;
		a {
			text-decoration: none;
		}
		h3 {
			text-align: center;
			margin-bottom: 20px;
		}
		dl {
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 15px 10px;
			background: #fff url(../img/ico-angle-right-redBold.png) no-repeat right 12px center;
			background-size: 10px auto;
			margin-bottom: 10px;
		}
		dt {
			background: url(../img/bg_title.png) repeat-y left top;
			background-size: 5px auto;
			font-size: 1.25rem;
			color: #9b833b;
			font-weight: bold;
			padding-left: 14px;
			margin-bottom: 15px;
		}
		dd {
			padding-left: 20px;
			li {
				@include cf;
				color: #666;
				
				&:first-child {
					display: flex;
					align-items: center;
					img {
						margin-right: 5px;
					}
				}
				span {
					display: block;
					float: left;
					overflow: hidden;
					&:first-child {
						width: 90px;
						font-weight: bold;
						&:after {
							content: "：";
							float: right;
						}
					}
				}
			}
		}
		.foot {
			a {
				background: url(../img/ico-next.png) no-repeat right 20px center;
				background-size: 10px auto;
				display: block;
				width: 100%;
				max-width: 335px;
				margin: auto;
				z-index: 99999;
				border: 1px solid #ccc;
				border-radius: 5px;
				color: #666;
				font-size: 1.2rem;
				height: 50px;
				line-height: 50px;
				text-align: center;
				text-decoration: none;
				margin-top: 15px;
			}
		}
	}
	.mb03 {
		margin-bottom: 3px;
	}
	.mb05 {
		margin-bottom: 5px;
	}
	.c-fixpp {
		dd {
			p {
				margin-top: -4px;
				margin-bottom: 10px;
			}
		}
	}
	.l-fixpp {
		margin-bottom: 32px;
	}
	.l-fixpp1 {
		margin-bottom: 28px;
	}

	/* Top link */
	.c-link {
		h4 {
			margin-bottom: 7px;
			font-size: 1.25rem;
			color: #333;
			font-weight: bold;
		}
		.link {
			@include cf;
			padding-bottom: 10px;
			&:after {
				content: "";
				flex: 1;
			}
			a {
				display: block;
				width: 31.333333333%;
				float: left;
				font-size: 1rem;
				background: #fff url(../img/ico-angle-right-brownSP.png) no-repeat right 10px center;
				background-size: 4px auto;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				padding: 10px;
				text-decoration: none;
				margin-bottom: 10px;
				margin-right: 5px;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}