@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pl05 {
  padding-left: 5px;
}

.pr {
  padding-right: 5px;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	color
------------------------------------------------------------*/
.color-brown {
  color: #b28850;
}

.color-ocean {
  color: #21a5aa;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-text-size-adjust: auto;
  min-width: 1350px;
}

@media (max-width: 736px) {
  body {
    min-width: auto;
  }
}

.l-container {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

@media (max-width: 736px) {
  .l-container {
    max-width: auto;
    width: 100%;
  }
}

.l-main {
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 736px) {
  img {
    max-width: 100%;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.l-header .logo {
  padding-left: 0;
}

.l-header .top {
  background: url(../img/header_bg.jpg) repeat-x left top;
  color: #fff;
  padding-top: 19px;
  padding-bottom: 20px;
}

.l-header .top .tel {
  font-size: 24px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  line-height: 34px;
  padding-top: 2px;
}

.l-header .top .tel img {
  height: 23px;
  margin-right: 5px;
}

.l-header .top .time {
  font-weight: normal;
  font-size: 13px;
  display: block;
  padding-left: 5px;
}

.l-header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNav {
  background: url(../img/header_bg01.jpg) repeat-x left top;
  height: 65px;
}

#gNav li {
  float: left;
  display: block;
  position: relative;
  text-align: center;
  padding-top: 14px;
}

#gNav li a {
  font-size: 15px;
  color: #131212;
  font-weight: bold;
  text-decoration: none;
}

#gNav li a span {
  display: block;
}

#gNavSP {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 0;
  width: 70%;
  display: none;
}

#gNavSP > ul ul {
  display: none;
}

#gNavSP > ul ul li:first-child {
  border-top: 1px solid #e6e5e5;
}

#gNavSP > ul ul li ~ li {
  border-top: 1px solid #e6e5e5;
}

#gNavSP > ul ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #5f5f5f;
  text-decoration: none;
  padding: 0 34px;
}

#gNavSP > ul > li {
  border-bottom: 1px solid #e6e5e5;
}

#gNavSP > ul > li > a {
  font-size: 14px;
  color: #1e1e1e;
  font-weight: bold;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}

#gNavSP > ul > li > a.btn-close {
  background: url(../img/ico-close.png) no-repeat right 17px center;
  background-size: 19px auto;
}

#gNavSP > ul > li > a.has-sub {
  background: url(../img/arrow_angle_down.png) no-repeat right 17px center;
  background-size: 13px auto;
}

#gNavSP > ul > li > a.is-active {
  background: url(../img/arrow_angle_up.png) no-repeat right 17px center;
  background-size: 13px auto;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  padding: 15px 0;
}

#pagePath li {
  display: inline;
  position: relative;
  font-size: 1.2rem;
}

#pagePath li:after {
  content: ">";
}

#pagePath li:first-child {
  text-transform: uppercase;
}

#pagePath li:last-child:after {
  content: "";
}

#pagePath li a {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #0f5c9b;
}

#pagePath li a:hover {
  text-decoration: none;
}

/*------------------------------------------------------------
	Page title
------------------------------------------------------------*/
/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/*------------------------------------------------------------
	block
------------------------------------------------------------*/
.block {
  padding: 0 35px;
}

@media (max-width: 736px) {
  .block {
    padding: 0 10px;
  }
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.l-footer {
  margin-top: 82px;
  color: #fff;
  font-size: 14px;
}

.l-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.l-footer .f-content {
  padding-top: 25px;
  padding-bottom: 53px;
  background-color: #040607;
}

@media (max-width: 736px) {
  .l-footer .f-content {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.l-footer .info {
  float: left;
  font-size: 12px;
}

@media (max-width: 736px) {
  .l-footer .info {
    float: none;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.l-footer .fNav {
  float: right;
}

.l-footer .address {
  margin-top: 15px;
}

.l-footer .telFax {
  margin-top: 8px;
  margin-bottom: 25px;
}

.l-footer .map {
  margin-left: 10px;
  color: #558cce;
}

@media (max-width: 736px) {
  .l-footer .map {
    display: block;
    margin-top: 10px;
  }
}

.l-footer .btn:after {
  display: block;
  clear: both;
  content: "";
}

.l-footer .btn a {
  display: block;
  background: #004fa2 url(../img/footer_btn.jpg) no-repeat left top;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.l-footer .btn a:hover {
  opacity: 0.7;
}

@media (max-width: 736px) {
  .l-footer .btn a {
    width: 48%;
    background-position: right center;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
  }
  .l-footer .btn a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 736px) {
  .l-footer .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.l-footer .fNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-footer .fNav ul {
  padding-left: 88px;
  padding-top: 20px;
}

.l-footer .fNav ul ~ ul {
  padding-left: 65px;
  padding-right: 25px;
}

.l-footer .fNav li {
  margin-bottom: 10px;
}

.l-footer .fNav li:before {
  content: "-";
  color: #558cce;
  margin-right: 5px;
}

.l-footer .fNav li a:hover {
  text-decoration: underline;
}

@media (max-width: 736px) {
  .l-footer .fNav {
    float: none;
  }
  .l-footer .fNav ul {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
  }
  .l-footer .fNav ul ~ ul {
    padding-left: 0;
    padding-right: 0;
  }
  .l-footer .fNav li a {
    font-size: 12px;
  }
}

.l-footer .copy {
  color: #0a0e12;
  text-align: center;
  background-color: #d6d6d6;
  padding: 20px 0;
}

@media (max-width: 736px) {
  .l-footer .copy {
    font-size: 10px;
    padding: 15px 10px;
  }
}

@media (max-width: 736px) {
  .l-footer {
    margin-top: 35px;
  }
}

/*------------------------------------------------------------
	media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 736px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 736px) {
  .sp-only {
    display: block;
  }
}

.cover {
  height: 6072px;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: url(../img/index_pc.png) no-repeat center top;
  width: 100%;
}

a:hover img {
  opacity: 0.7;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.globalHeaderPC {
  display: block;
}

@media (max-width: 736px) {
  .globalHeaderPC {
    display: none;
  }
}

.globalHeaderSP {
  display: none;
  background: url(../img/header_bg_sp.jpg) repeat-x left top;
  background-size: 22px auto;
  padding: 9px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.globalHeaderSP span {
  margin-top: 1px;
  display: block;
}

@media (max-width: 736px) {
  .globalHeaderSP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*------------------------------------------------------------
	l
------------------------------------------------------------*/
.l-content {
  margin-top: 45px;
}

.l-block {
  margin-bottom: 75px;
}

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.c-title {
  text-align: center;
}

.c-title h3 {
  font-size: 30px;
  color: #293849;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.c-title h3:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #004fa2;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.c-content {
  font-size: 16px;
  line-height: 30px;
}

.main__content {
  background: url(../img/body_bg.jpg) no-repeat center top 250px;
}
