@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Roboto");
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.main__visual {
  text-align: center;
  height: 450px;
  width: 100%;
}

.main__visual li {
  position: relative;
  height: 450px;
}

.main__visual img {
  vertical-align: top;
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main__visual:after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 736px) {
  .main__visual {
    height: auto;
  }
}

.top-serviceTwo {
  background: url(../img/service_bg01.png) no-repeat center top;
  margin-top: 43px;
  padding: 100px 0;
  margin-bottom: 58px;
}

.top-serviceTwo .items:first-child {
  margin-left: 24px;
}

@media (max-width: 736px) {
  .top-serviceTwo .items:first-child {
    margin-left: 0;
  }
}

.top-serviceTwo .items:last-child {
  margin-right: 24px;
}

@media (max-width: 736px) {
  .top-serviceTwo {
    background: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
  }
  .top-serviceTwo .bg {
    width: 100%;
    position: relative;
    height: 225px;
  }
  .top-serviceTwo .bg01 {
    background: url(../img/service_bg01_sp.png) no-repeat center;
    background-size: cover;
  }
  .top-serviceTwo .bg02 {
    background: url(../img/service_bg02_sp.png) no-repeat center;
    background-size: cover;
  }
}

.top-serviceThree .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1350px;
  margin: auto;
}

@media (max-width: 736px) {
  .top-serviceThree .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-serviceThree .items {
  position: absolute;
  top: 114px;
  left: 102px;
}

.top-serviceThree .items h4 {
  padding-top: 15px;
  padding-left: 0px;
  font-size: 28px;
  margin-bottom: 20px;
}

.top-serviceThree .items h5 {
  margin-bottom: 26px;
}

@media (max-width: 736px) {
  .top-serviceThree .items {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
  }
}

.top-serviceThree .bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 450px;
  position: relative;
}

.top-serviceThree .bg:last-child {
  padding-top: 34px;
}

.top-serviceThree .bg:last-child h4 {
  margin-bottom: 11px;
  padding-top: 0px;
}

.top-serviceThree .bg:last-child h5 {
  margin-bottom: 20px;
}

@media (max-width: 736px) {
  .top-serviceThree .bg {
    width: 100%;
    position: relative;
    height: 225px;
  }
}

.top-serviceThree .bg01 {
  background: url(../img/service_bg02.jpg) no-repeat center top;
}

@media (max-width: 736px) {
  .top-serviceThree .bg01 {
    background: url(../img/service_bg03_sp.png) no-repeat center;
    background-size: cover;
  }
}

.top-serviceThree .bg02 {
  background: url(../img/service_bg03.jpg) no-repeat center top;
}

@media (max-width: 736px) {
  .top-serviceThree .bg02 {
    background: url(../img/service_bg04_sp.png) no-repeat center;
    background-size: cover;
  }
}

.top-serviceThree .bg03 {
  background: url(../img/service_bg04.jpg) no-repeat center top;
}

@media (max-width: 736px) {
  .top-serviceThree .bg03 {
    background: url(../img/service_bg05_sp.png) no-repeat center;
    background-size: cover;
  }
}

/* Top page */
.top-service {
  background: url(../img/service_bg.png) no-repeat center top;
  padding-top: 52px;
  font-size: 16px;
}

.top-service .title {
  text-align: center;
  margin-bottom: 17px;
}

.top-service h3 {
  background: url(../img/bg_title.png) no-repeat center bottom;
  font-size: 30px;
  padding-bottom: 20px;
  color: #081d34;
}

@media (max-width: 736px) {
  .top-service h3 {
    background-size: 25px auto;
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.top-service h4 {
  font-size: 18px;
  color: #004fa2;
  font-weight: bold;
  padding-top: 18px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 736px) {
  .top-service h4 {
    font-size: 12px;
    padding-top: 9px;
  }
}

.top-service .items {
  width: 250px;
  height: 250px;
  background-color: rgba(35, 84, 129, 0.85);
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.top-service .items h4 {
  text-shadow: 1px 1px rgba(4, 0, 0, 0.75);
  color: #fff;
  font-size: 30px;
  margin-bottom: 13px;
  padding-top: 12px;
}

@media (max-width: 736px) {
  .top-service .items h4 {
    font-size: 16px;
    padding-top: 0;
    margin-bottom: 10px;
  }
}

.top-service .items h5 {
  text-shadow: 1px 1px rgba(4, 0, 0, 0.75);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #dee2e8;
  margin-bottom: 33px;
}

@media (max-width: 736px) {
  .top-service .items h5 {
    font-size: 11px;
    margin-bottom: 15px;
  }
}

.top-service .items a {
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #fff;
}

@media (max-width: 736px) {
  .top-service .items a {
    width: 100px;
    margin: 0 auto;
  }
}

@media (max-width: 736px) {
  .top-service .items {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 736px) {
  .top-service {
    padding-top: 23px;
    font-size: 13px;
  }
  .top-service p {
    padding: 0 15px;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-news {
  padding-top: 87px;
  padding-bottom: 78px;
}

.top-news .title {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.top-news .title h3 {
  float: left;
}

@media (max-width: 736px) {
  .top-news .title h3 {
    float: none;
    text-align: center;
  }
}

.top-news .title a {
  float: right;
  color: #004fa2;
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
  padding-top: 10px;
  text-decoration: none;
}

.top-news .title a:hover {
  text-decoration: underline;
}

@media (max-width: 736px) {
  .top-news .title a {
    float: none;
    text-align: center;
    font-size: 13px;
    display: block;
    padding-top: 25px;
  }
}

.top-news .content {
  margin-top: 47px;
  padding-left: 90px;
  padding-right: 90px;
}

.top-news .content dl {
  font-size: 16px;
  padding: 6px 0;
}

.top-news .content dt {
  float: left;
  margin-right: 34px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.top-news .content dt .time {
  width: 95px;
  display: block;
  float: left;
}

.top-news .content dt .news-label {
  display: inline-block;
  padding: 0 5px;
  background-color: #003e7d;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 60px;
  text-align: center;
}

.top-news .content dt .news-event {
  display: inline-block;
  padding: 0 5px;
  background-color: #628ebb;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 60px;
  text-align: center;
}

@media (max-width: 736px) {
  .top-news .content dt {
    float: none;
    margin-bottom: 0;
  }
  .top-news .content dt .time {
    font-size: 12px;
    width: auto;
    margin-right: 5px;
  }
  .top-news .content dt .news-event {
    font-size: 10px;
    float: left;
    padding-top: 2px;
  }
  .top-news .content dt .news-label {
    font-size: 10px;
    float: left;
    padding-top: 2px;
  }
}

.top-news .content dd {
  overflow: hidden;
  word-break: break-all;
}

.top-news .content dd a {
  color: #46505d;
  text-decoration: none;
  font-size: 13px;
}

.top-news .content dd a:hover {
  text-decoration: underline;
}

@media (max-width: 736px) {
  .top-news .content {
    padding: 0 15px;
    margin-top: 20px;
  }
}

@media (max-width: 736px) {
  .top-news {
    padding-top: 35px;
    padding-bottom: 40px;
  }
}

.top-about a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-top: 40px;
  padding-left: 20px;
}

.top-about a h4 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  font-size: 28px;
  margin-bottom: 5px;
}

@media (max-width: 736px) {
  .top-about a h4 {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.top-about a .sub {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 736px) {
  .top-about a .sub {
    font-size: 11px;
  }
}

@media (max-width: 736px) {
  .top-about a {
    padding-top: 25px;
    padding-left: 10px;
  }
}

.top-about .recruit {
  background: url(../img/about_img01.jpg) no-repeat left top;
  display: block;
  width: 480px;
  height: 130px;
  float: left;
}

@media (max-width: 736px) {
  .top-about .recruit {
    width: 270px;
    height: 75px;
    background-size: cover;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.top-about .company {
  background: url(../img/about_img02.jpg) no-repeat left top;
  display: block;
  width: 480px;
  height: 130px;
  float: right;
}

@media (max-width: 736px) {
  .top-about .company {
    width: 270px;
    height: 75px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.page__title {
  height: 250px;
  text-align: center;
  color: #fff;
}

.page__title h2 {
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px rgba(4, 0, 0, 0.75);
  margin-bottom: 5px;
  padding-top: 80px;
}

.page__title .sub {
  color: #dfe1e3;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px rgba(4, 0, 0, 0.75);
}

.page__title h4 {
  margin-bottom: 75px;
}

#pageCompany .page__title {
  background: url(../img/bg_title_company.jpg) no-repeat center top;
}

#pageCompany .company__service {
  width: 735px;
  margin: auto;
}

#pageCompany .company__service li {
  display: block;
  float: left;
  margin-right: 55px;
  width: 140px;
}

#pageCompany .company__service li:last-child {
  margin-right: 0;
}

#pageCompany .company__service li > * {
  display: inline-block;
  vertical-align: top;
}

#pageCompany .company__service p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 16px;
  margin-right: 25px;
}

#pageCompany .company__service:after {
  display: block;
  clear: both;
  content: "";
}

#pageCompany .company__box {
  background-color: #e5edf5;
  padding: 30px 155px;
  margin-top: 20px;
  margin-bottom: 45px;
}

#pageCompany .company__box h4 {
  margin-bottom: 30px;
}

#pageCompany .company__box img {
  float: left;
}

#pageCompany .company__box ul {
  margin-top: 45px;
  padding-top: 10px;
  overflow: hidden;
}

#pageCompany .company__box ul li {
  font-size: 20px;
  color: #32485f;
  font-weight: bold;
  margin-bottom: 7px;
  margin-left: 15px;
}

#pageCompany .company__box .company__box--point {
  margin-left: 20px;
}

#pageCompany .company__content {
  max-width: 800px;
  margin: auto;
  font-size: 16px;
}

#pageCompany .company__content p {
  line-height: 30px;
}

#pageCompany .company__content ~ .company__content {
  margin-top: 55px;
}

#pageCompany .company__content h4 {
  text-align: center;
  color: #004fa2;
  font-size: 24px;
  margin-bottom: 20px;
}

#pageCompany .company__content ol {
  margin-top: 45px;
}

#pageCompany .company__content ol li {
  list-style: decimal;
  margin-left: 15px;
}

#pageCompany .company__content ol li ~ li {
  margin-top: 5px;
  line-height: 30px;
}

#pageCompany .company__address {
  padding-top: 10px;
  font-size: 16px;
}

#pageCompany .company__address ~ .company__address {
  margin-top: 50px;
}

#pageCompany .company__address h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

#pageCompany .company__address .msg {
  overflow: hidden;
}

#pageCompany .company__address figure {
  float: right;
}

#pageCompany .company__address dl {
  margin-bottom: 13px;
}

#pageCompany .company__address dl:after {
  display: block;
  clear: both;
  content: "";
}

#pageCompany .company__address dt {
  display: block;
  float: left;
  width: 140px;
  font-weight: bold;
}

#pageCompany .company__address dd {
  overflow: hidden;
}

#pageCompany .company__address dd a {
  color: #004fa2;
}

#pageCompany .company__address:after {
  display: block;
  clear: both;
  content: "";
}

#pageCompany .company__about {
  padding-left: 150px;
  font-size: 16px;
  margin-bottom: 40px;
}

#pageCompany .company__about:after {
  display: block;
  clear: both;
  content: "";
}

#pageCompany .company__about h4 {
  color: #004fa2;
  font-size: 24px;
  width: 185px;
  display: block;
  float: left;
}

#pageCompany .company__about p {
  line-height: 30px;
}

#pageCompany .company__about .msg {
  overflow: hidden;
}

#pageCompany .company__about a {
  color: #004fa2;
}

#pageContent .page__title {
  background: url(../img/bg_title_content.jpg) no-repeat center top;
}

#pageContent .newsContent h3 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 30px;
  color: #293849;
}

#pageContent .newList {
  padding-top: 80px;
  padding-left: 190px;
  padding-right: 100px;
}

#pageContent .newList .head:after {
  display: block;
  clear: both;
  content: "";
}

#pageContent .newList .head h4 {
  float: left;
}

#pageContent .newList .head a {
  float: right;
  color: #004fa2;
  font-size: 16px;
  text-decoration: none;
  padding-top: 5px;
}

#pageContent .newList .body {
  margin-top: 50px;
}

#pageContent .newList .body dl {
  font-size: 16px;
  margin-bottom: 10px;
}

#pageContent .newList .body dl:after {
  display: block;
  clear: both;
  content: "";
}

#pageContent .newList .body dt {
  float: left;
  margin-right: 30px;
}

#pageContent .newList .body dd {
  overflow: hidden;
}

#pageContent .newList .body dd a {
  color: #46505d;
  text-decoration: none;
}

#pageContent .newList .body dd a:hover {
  text-decoration: underline;
}

#pageContent .newsText {
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  margin-top: 115px;
}

#pageContent .newItems ~ .newItems {
  margin-top: 60px;
}

#pageContent .newItems .item {
  font-size: 16px;
}

#pageContent .newItems .item:after {
  display: block;
  clear: both;
  content: "";
}

#pageContent .newItems .item figure {
  float: right;
  margin-left: 20px;
}

#pageContent .newItems .item p {
  line-height: 35px;
}

#pageContent .newItems .item h4 {
  color: #293849;
  font-size: 20px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#pageContent .newItems .item h4:after {
  width: 100px;
  height: 3px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #004fa2;
}

#pageContent .map {
  margin-top: 50px;
}

#pageNews .page__title {
  background: url(../img/bg_title_news.jpg) no-repeat center top;
}

#pageNews .content {
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 95px;
}

#pageNews .content dl {
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #d7d7d7;
}

#pageNews .content dt {
  float: left;
  margin-right: 34px;
}

#pageNews .content dt .time {
  width: 95px;
  display: block;
  float: left;
}

#pageNews .content dt .news-label {
  display: inline-block;
  padding: 2px 5px;
  background-color: #003e7d;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 60px;
  text-align: center;
}

#pageNews .content dt .news-event {
  display: inline-block;
  padding: 2px 5px;
  background-color: #628ebb;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 60px;
  text-align: center;
}

#pageNews .content dd {
  overflow: hidden;
  word-break: break-all;
}

#pageNews .content dd a {
  color: #46505d;
  text-decoration: none;
}

#pageNews .content dd a:hover {
  text-decoration: underline;
}

#pageNews .pagging {
  margin-top: 45px;
  text-align: center;
}

#pageNews .pagging .next, #pageNews .pagging .prev {
  width: 100px;
}

#pageNews .pagging .prev {
  margin-right: 10px;
}

#pageNews .pagging .next {
  margin-left: 10px;
}

#pageNews .pagging a, #pageNews .pagging span {
  border: 1px solid #004fa2;
  color: #004fa2;
  text-decoration: none;
  width: 34px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  font-size: 14px;
}

#pageNews .pagging a:hover, #pageNews .pagging a.current, #pageNews .pagging span:hover, #pageNews .pagging span.current {
  background-color: #004fa2;
  color: #fff;
}

#pageNews .pagging > * {
  display: inline-block;
  vertical-align: bottom;
}

#pageForm {
  font-size: 16px;
}

#pageForm .page__title {
  background: url(../img/bg_title_contact.jpg) no-repeat center top;
}

#pageForm p {
  line-height: 30px;
}

#pageForm table {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 55px;
  width: 690px;
  border-collapse: collapse;
}

#pageForm table [type="text"], #pageForm table [type="email"] {
  width: 310px;
  height: 35px;
  border-radius: 5px;
  background-color: #f6f8f9;
  -webkit-box-shadow: inset 1px 2px 2px rgba(4, 0, 0, 0.06);
  box-shadow: inset 1px 2px 2px rgba(4, 0, 0, 0.06);
  border: solid 1px #dcdcdc;
  padding: 0 10px;
}

#pageForm table textarea {
  border-radius: 5px;
  background-color: #f6f8f9;
  -webkit-box-shadow: inset 1px 2px 2px rgba(4, 0, 0, 0.06);
  box-shadow: inset 1px 2px 2px rgba(4, 0, 0, 0.06);
  border: solid 1px #dcdcdc;
  padding: 10px;
  width: 100%;
}

#pageForm table tr td, #pageForm table tr th {
  padding: 10px 0;
}

#pageForm table tr th {
  width: 210px;
  font-weight: bold;
  padding-left: 40px;
  text-align: left;
  vertical-align: top;
  padding: 19px 0;
}

#pageForm table tr + tr td, #pageForm table tr + tr th {
  border-top: 1px solid #adbccc;
}

#pageForm .required {
  margin-top: 20px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

#pageForm .required:after {
  background-color: #d60000;
  border-radius: 5px;
  color: #fff;
  content: "必須";
  font-size: 14px;
  padding: 3px 5px;
  font-weight: normal;
}

#pageForm #formEnd {
  margin-top: 25px;
  text-align: center;
}

#pageForm [type="submit"] {
  border: 2px solid #004fa2;
  width: 200px;
  height: 46px;
  color: #004fa2;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}
