@charset "UTF-8";
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.mainVisual {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 137px;
  z-index: 99;
}

.mainVisual .bx-controls {
  position: absolute;
  top: -20px;
  right: 410px;
}

.mainVisual .bx-controls .bx-pager {
  text-align: center;
}

.mainVisual .bx-controls .bx-pager .bx-pager-item {
  display: inline-block;
}

.mainVisual .bx-controls .bx-pager .bx-pager-item a {
  display: block;
  text-indent: -99999px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #FCB215;
  margin: 0 5px;
}

.mainVisual .bx-controls .bx-pager .bx-pager-item a.active {
  background-color: #00A9AC;
}

.about {
  padding-left: 20px;
}

.about .about01 {
  width: 660px;
  text-align: center;
  float: right;
  letter-spacing: -1px;
  margin-right: 30px;
}

.about .about01 p {
  line-height: 1.4;
}

.about .about01 h2 {
  margin-bottom: 35px;
}

.about .about02 {
  clear: both;
  padding-left: 200px;
  padding-top: 60px;
}

.about .about02 figure {
  float: left;
}

.about .persion {
  position: absolute;
  right: 0;
  top: 150px;
}

.about .msg {
  padding-top: 70px;
  padding-left: 40px;
  overflow: hidden;
}

.about .msg h3 {
  margin-bottom: 30px;
}

.design .design01 {
  padding-left: 285px;
  margin-top: 170px;
}

.design .design01 figure {
  float: right;
}

.design .msg {
  overflow: hidden;
  padding-right: 15px;
  width: 286px;
  display: block;
}

.design .msg h3 {
  margin-bottom: 30px;
}

.design .msg h4 {
  margin-bottom: 30px;
}

.gallery {
  margin-top: 60px;
}

.gallery .gallery01 {
  padding-left: 285px;
}

.gallery .gallery01 h3 {
  margin-bottom: 35px;
}

.schedule {
  margin-top: 210px;
}

.schedule .schedule01 {
  padding-left: 285px;
  padding-bottom: 130px;
}

.schedule .schedule01 h3 {
  margin-bottom: 20px;
}

.schedule .schedule01 .schBtn {
  position: absolute;
  left: 420px;
}

.schedule .scheduleItems {
  margin-top: 40px;
  margin-bottom: 48px;
}

.schedule .scheduleItems figure {
  float: left;
}

.schedule .scheduleItems h4 {
  margin-bottom: 10px;
}

.schedule .scheduleItems .msg {
  overflow: hidden;
  padding-left: 20px;
}

.schedule .scheduleItems--last {
  padding-left: 105px;
  margin-bottom: 0;
}

.schedule .scheduleItems--last .msg {
  padding-left: 40px;
}

.schedule .listText h5 {
  color: #AA525E;
  margin-bottom: 5px;
}

.schedule .listText--first {
  background: url(../img/sch_line.jpg) no-repeat left bottom;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.blog {
  margin-top: 200px;
}

.blog .blog01 {
  background-color: #D6EDEE;
  border-radius: 10px;
  padding: 11px;
  width: 500px;
  float: right;
  position: relative;
  padding-top: 125px;
}

.blog .blog01 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 30px;
  padding-right: 15px;
  position: absolute;
  top: -25px;
  left: 10px;
  right: 10px;
  padding-bottom: 6px;
}

.blog .blog01 .content {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 35px;
}

.blog .blog01 .content h4 {
  font-size: 2.1rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.faq {
  margin-top: 210px;
}

.faq .faq01 {
  padding-left: 282px;
}

.faq .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .title h3 {
  margin-right: 35px;
}

.faq .faqList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -13px;
  margin-top: 20px;
}

.faq .faqList .items {
  width: 248px;
  padding: 0 13px;
  text-align: center;
  margin-bottom: 40px;
}

.faq .faqList .items figure {
  margin-bottom: 20px;
}

.faq .faqList .items h4 {
  margin-top: 25px;
  line-height: 1.7;
  font-size: 1.8rem;
}

.contact {
  margin-top: 60px;
}

.contact .contact01 {
  padding-left: 286px;
}

.contact .contact01 h3 {
  margin-bottom: 35px;
}

.contact .contact_form {
  margin-bottom: 95px;
}

.contact .contact_form p {
  margin-bottom: 15px;
}

.contact .contact_form p .label {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  font-weight: bold;
}

.contact .contact_form p .label.required:after {
  content: "【必須】";
  color: #AA525E;
  font-size: 1.2rem;
}

.contact .contact_form p [type="text"], .contact .contact_form p [type="email"] {
  border-radius: 5px;
  border: 1px solid #999;
  width: 100%;
  padding: 5px;
  height: 35px;
}

.contact .contact_form p textarea {
  border-radius: 5px;
  border: 1px solid #999;
  width: 100%;
  height: 190px;
}

.contact #formEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact #formEnd button {
  background-color: #00A9AC;
  border-radius: 5px;
  color: #fff;
  display: block;
  width: 49%;
  font-weight: bold;
  padding: 11px 0 10px 0;
  font-size: 1.6rem;
}

.contact .contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
}

.contact .contactBox h4 {
  margin-bottom: 35px;
}

.p-privacy .head {
  margin-bottom: 50px;
}

.p-privacy dl {
  margin-bottom: 35px;
}

.p-privacy dt {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.p-privacy dd {
  padding-left: 20px;
}

.p-privacy dd ul {
  padding-left: 15px;
}

.p-faq {
  padding-bottom: 70px;
}

.p-faq dl {
  padding: 40px;
  position: relative;
}

.p-faq dl.is-active {
  background-color: #FFF4E4;
}

.p-faq dl:before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  right: 0;
  top: -10px;
  bottom: 0;
  height: 19px;
  background: url(../../faq/images/line.png) no-repeat top left;
}

.p-faq dl:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 19px;
  background: url(../../faq/images/line.png) no-repeat top left;
}

.p-faq dl ~ dl:before {
  background: none;
}

.p-faq dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.1rem;
}

.p-faq dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.p-faq img {
  height: 100%;
  margin-right: 20px;
}

.p-flow .banner {
  margin-bottom: 30px;
}

.p-flow .flowRight h3 {
  text-align: right;
}

.p-flow .flowRight figure {
  float: left;
}

.p-flow .flowRight:after {
  display: block;
  clear: both;
  content: "";
}

.p-flow .flowLeft h3 {
  text-align: left;
}

.p-flow .flowLeft figure {
  float: right;
}

.p-flow .flowLeft:after {
  display: block;
  clear: both;
  content: "";
}

.p-flow .flowContent {
  margin-top: 150px;
  margin-bottom: 150px;
}

.p-about .nav span {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.p-about .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px dashed #FCB316;
  border-right: 2px dashed #FCB316;
  border-bottom: 2px dashed #FCB316;
  background: #fff;
}

.p-about .nav li {
  border-left: 2px dashed #FCB316;
  width: calc(100%/4);
  text-align: center;
}

.p-about .nav a {
  font-size: 14px;
  text-decoration: none;
  display: block;
  line-height: 65px;
  height: 65px;
  color: #000;
}

.p-about h3 {
  margin: 50px 0;
}

.p-about .about01 h4 {
  font-size: 18px;
  color: #00AAAD;
  font-weight: bold;
  margin-top: 25px;
}

.p-about .about01 .txt {
  margin-top: 45px;
}

.p-about .about02 {
  margin-top: 215px;
}

.p-about .about02 h4 {
  margin: 40px 0 20px;
}

.p-about .about02 dl {
  display: table;
  width: 100%;
}

.p-about .about02 dt {
  display: table-cell;
  width: 140px;
  text-align: right;
  line-height: 22px;
}

.p-about .about02 dd {
  display: table-cell;
  padding-left: 20px;
  line-height: 22px;
}

.p-about .about02 .map {
  margin-top: 155px;
}

.p-design .div-design {
  padding: 28px 30px;
}

.p-design .div-design h3 {
  margin-bottom: 30px;
}

.p-design .list {
  position: relative;
  margin-top: 40px;
}

.p-design .list:after {
  content: "";
  background: url(../../design/images/bg02.png) repeat top center;
  width: 373px;
  height: 277px;
  position: absolute;
  top: 14px;
  right: 0;
}

.p-design .list h4 {
  font-size: 21px;
  padding-left: 24px;
  margin-top: -8px;
}

.p-design .list h4 span {
  font-size: 14px;
  margin-left: 4px;
}

.p-design .list dl {
  position: relative;
  padding: 37px 35px;
}

.p-design .list dl:before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  right: 0;
  top: -10px;
  bottom: 0;
  height: 19px;
  background: url(../../faq/images/line.png) no-repeat top left;
}

.p-design .list dl.is-active {
  background: url(../../design/images/bg01.png) repeat top center;
}

.p-design .list dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.p-design .list dd {
  position: relative;
}

.p-design .photo {
  position: relative;
  z-index: 9999;
  margin-top: 85px;
}

.p-gallery .nav {
  margin-bottom: 70px;
}

.p-gallery .nav span {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.p-gallery .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px dashed #FCB316;
  border-right: 2px dashed #FCB316;
  background: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-gallery .nav li {
  border-left: 2px dashed #FCB316;
  border-bottom: 2px dashed #FCB316;
  width: calc(100%/4);
  text-align: center;
}

.p-gallery .nav li.active {
  background-color: #FFECCD;
}

.p-gallery .nav a {
  font-size: 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  color: #000;
}

.p-gallery .c-galleryList {
  background: url(../../gallery/images/line.png) no-repeat center bottom;
  padding-bottom: 25px;
  margin-bottom: 32px;
}

.p-gallery .c-galleryList h3 {
  margin-bottom: 25px;
}

.p-gallery .c-galleryList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-gallery .c-galleryList ul li {
  width: 233px;
  height: 155px;
  margin-bottom: 8px;
}

.p-gallery .content span {
  color: #006598;
}
