@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
	font-family: $fontBase;
	font-size: 1.4rem;
	font-weight: 500;
	-webkit-text-size-adjust: auto;
	min-width: 1000px;
	color: #202020;
	background: url(../img/body_bg02.jpg) no-repeat center top
}
body.page-home {
	background: url(../img/body_bg.jpg) no-repeat center top;
}
.container {
	margin: 0 auto;
	width: 1000px;
}
.container-rel {
	position: relative;
}
.l-main {
	font-size: 1.6rem;
	padding-bottom: 160px;
	
	@include cf;
	// @extend %cf;
}

img {
	@include sp() {
		max-width: 100%;
	}
}

.clearix {
	@include cf;
}

.textCenter {
	text-align: center;
}

a {
	&:hover {
		img {
			opacity: 0.7;
		}
	}
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.l-header {
	height: 709px;
}
.l-headerPage {
	height: auto;
}
.l-header h1 {
	padding-top: 75px;
	padding-left: 285px;
}
.l-header .contactBtn {
	position: absolute;
	right: 0;
	left: 0;
	top: 20px;
	z-index: 99999;
	.inner {
		width: 1000px;
		margin: auto;
		display: block;
		text-align: right;
		position: relative;
		a {
			position: absolute;
			right: -105px;
		}
	}
}
.l-sideMenu {
	width: 215px;
	position: absolute;
	display: block;
	background: url(../img/menu_sidde_bg.png) no-repeat center top;
	text-align: center;
	padding-top: 55px;
	height: 595px;
	z-index: 99999;
}
.l-sideMenu .nav {
	margin-top: 45px;
}
.l-sideMenu .nav {
	text-align: center;
	display: block;
}
.l-sideMenu .nav li {
	display: inline-block;
	vertical-align: top;
	width: 19px;
	line-height: 1.1;
	word-break: break-all;
}
.l-sideMenu a {
	text-decoration: none;
	color: #333;
}
.l-sideMenu .bottom {
	position: absolute;
	bottom: 35px;
	left: 35px;
	text-align: left;
}
.l-sideMenu .topBtn {
	position: absolute;
	right: -35px;
	top: 0;
}
.headerContent {
	margin-left: 280px;
	#pagePath {
		padding-top: 40px;
		ul {
			display: flex;
		}
		li {
			color: #000;
			&:after {
				content: ">";
			}
			&:last-child {
				&:after {
					content: ""
				}
			}
		}
		a {
			text-decoration: none;
			color: #FCB215;
		}
	}
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/

/*------------------------------------------------------------
	Page title
------------------------------------------------------------*/

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
.mainContent {
	margin-left: 283px;
}

/*------------------------------------------------------------
	block
------------------------------------------------------------*/

/*------------------------------------------------------------
	side
------------------------------------------------------------*/


/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.l-footer {
	background: url(../img/footer_bg.jpg) no-repeat center top;
	padding-top: 80px;
	.footer-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	.footer-content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 57px;
		h4 {
			margin-bottom: 15px;
		}
		ul.fNav {
			margin-left: 10px;
			margin-bottom: 30px;
			li {
				& + li {
					margin-top: 5px;
				}
			}
		}
		ul.socialNav {
			background: url(../img/footer_line.png) no-repeat left bottom;
			li {
				background: url(../img/footer_line.png) no-repeat left top;
				padding: 15px 10px;
			}
		}
		a {
			text-decoration: none;
			color: #fff;
		}
	}
	.footer-logo {
		display: flex;
		align-items: center;
		padding: 15px 0;
		a {
			margin-right: 78px;
		}
		p {
			line-height: 1.7;
		}
	}
	.footer_bottom {
		background: url(../img/footer_bg01.png) no-repeat center top;
		height: 238px;
		color: #fff;
		text-align: right;
		p {
			padding-top: 200px;
		}
	}
	
}

/*------------------------------------------------------------
	media
------------------------------------------------------------*/