@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mt10 { margin-top: 10px !important; }
.mb0 { margin-bottom: 0 !important; }

.pl05 {
	padding-left: 5px;
}

.pt75 {
	padding-top: 75px;
}
.pr {
	padding-right: 5px;
}
/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

/*------------------------------------------------------------
	color
------------------------------------------------------------*/
.color-brown {
	color: #b28850;
}
.color-ocean {
	color: #21a5aa;
}

.pull_right {
	float: right;
}
.pull_left {
	float: left;
}