@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
.pc-only {
	display: block !important;
	@include sp() {
		display: none !important;
	}
}
.sp-only {
	display: none !important;
	@include sp() {
		display: block !important;
	}
}

.pc-break {
	display: block;
	@include sp() {
		display: inline;
	}
}

.sp-break {
	display: inline;
	@include sp() {
		display: block;
	}
}

.clearfix {
	@include cf;
}

.mt30 {
	margin-top: 30px;
}
.mt35 {
	margin-top: 35px;
}
.mt100 {
	margin-top: 100px;
}

.mr35 {
	margin-right: 35px;
}
.mr45 {
	margin-right: 45px;
}
.mb55 {
	margin-bottom: 55px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb05 {
	margin-bottom: 5px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb110 {
	margin-bottom: 110px;
}
.mb120 {
	margin-bottom: 120px;
}
.mb25 {
	margin-bottom: 25px;
}
.pt50 {
	padding-top: 50px;
}
.ml35 {
	margin-left: 35px;
}
.ml60 {
	margin-left: 60px;
}
.pt40 {
	padding-top: 40px;
}
.pt55 {
	padding-top: 55px;
}
.pt35 {
	padding-top: 35px;
}
/*------------------------------------------------------------
	title
------------------------------------------------------------*/

/*------------------------------------------------------------
	component
------------------------------------------------------------*/
.l-main {
	margin-top: 2px;
	position: relative;
	padding-top: 70px;
}
.inner {
	// background: url(../img/main_bg.png) no-repeat center bottom;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.l-mainHome {
	background: url(../img/main_bg02.png) no-repeat center bottom;
	padding-bottom: 100px;
}
.c-pageTitle {
	margin-bottom: 30px;
}
/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
