@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.mainVisual {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 137px;
	z-index: 99;
	.bx-controls {
		position: absolute;
		top: -20px;
		right: 410px;
		.bx-pager {
			text-align: center;
			.bx-pager-item {
				display: inline-block;
				a {
					display: block;
					text-indent: -99999px;
					border-radius: 50%;
					width: 8px;
					height: 8px;
					background-color: #FCB215;
					margin: 0 5px;
					&.active {
						background-color: #00A9AC;
					}
				}
			}
		}
	}
}

.about {
	padding-left: 20px;
	.about01 {
		width: 660px;
		text-align: center;
		float: right;
		letter-spacing: -1px;
		margin-right: 30px;
		p {
			line-height: 1.4;
		}
		h2 {
			margin-bottom: 35px;
		}
	}
	.about02 {
		clear: both;
		padding-left: 200px;
		padding-top: 60px;
		figure {
			float: left;
		}
	}
	.persion {
		position: absolute;
		right: 0;
		top: 150px;
	}
	.msg {
		padding-top: 70px;
		padding-left: 40px;
		overflow: hidden;
		h3 {
			margin-bottom: 30px;
		}
	}
}

.design {	
	.design01 {
		padding-left: 285px;
		margin-top: 170px;
		figure {
			float: right;
		}
	}
	.msg {
		overflow: hidden;
		padding-right: 15px;
		width: 286px;
		display: block;
		h3 {
			margin-bottom: 30px;
		}
		h4 {
			margin-bottom: 30px;
		}
	}

}

.gallery {
	margin-top: 60px;
	.gallery01 {
		padding-left: 285px;
		h3 {
			margin-bottom: 35px;
		}
	}
}

.schedule {
	margin-top: 210px;
	.schedule01 {
		padding-left: 285px;
		padding-bottom: 130px;
		h3 {
			margin-bottom: 20px;
		}
	}
	.schedule01 {
		.schBtn {
			position: absolute;
			left: 420px;
		}
	}
	
	.scheduleItems {
		margin-top: 40px;
		margin-bottom: 48px;
		figure {
			float: left;
		}
		h4 {
			margin-bottom: 10px;
		}
		.msg {
			overflow: hidden;
			padding-left: 20px;
		}
		&--last {
			padding-left: 105px;
			margin-bottom: 0;
			.msg {
				padding-left: 40px;
			}
		}
	}
	.listText {
		h5 {
			color: #AA525E;
			margin-bottom: 5px;
		}
		&--first {
			background: url(../img/sch_line.jpg) no-repeat left bottom;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}
}

.blog {
	margin-top: 200px;
	.blog01 {
		background-color: #D6EDEE;
		border-radius: 10px;
		padding: 11px;
		width: 500px;
		float: right;
		position: relative;
		padding-top: 125px;
		.title {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-left: 30px;
			padding-right: 15px;
			position: absolute;
			top: -25px;
			left: 10px;
			right: 10px;
			padding-bottom: 6px;
		}
		.content {
			background-color: #fff;
			border-radius: 10px;
			padding: 25px 35px;
			h4 {
				font-size: 2.1rem;
				font-weight: normal;
				margin-bottom: 20px;
			}
		}
	}
}

.faq {
	margin-top: 210px;
	.faq01 {
		padding-left: 282px;
	}
	.title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		h3 {
			margin-right: 35px;
		}
	}
	.faqList {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -13px;
		margin-top: 20px;
		.items {
			width: 248px;
			padding: 0 13px;
			text-align: center;
			margin-bottom: 40px;
			figure {
				margin-bottom: 20px;
			}
			h4 {
				margin-top: 25px;
				line-height: 1.7;
				font-size: 1.8rem;
			}
		}
	}
}

.contact {
	margin-top: 60px;
	.contact01 {
		padding-left: 286px;
		h3 {
			margin-bottom: 35px;
		}
	}
	.contact_form {
		margin-bottom: 95px;
		p {
			margin-bottom: 15px;
			.label {
				display: inline-block;
				margin-bottom: 5px;
				position: relative;
				font-weight: bold;
				&.required {
					&:after {
						content: "【必須】";
						color: #AA525E;
						font-size: 1.2rem;
					}
				}
			}
			[type="text"], [type="email"] {
				border-radius: 5px;
				border: 1px solid #999;
				width: 100%;
				padding: 5px;
				height: 35px;
			}
			textarea {
				border-radius: 5px;
				border: 1px solid #999;
				width: 100%;
				height: 190px;
			}
		}
	}
	#formEnd {
		display: flex;
		justify-content: space-between;
		button {
			background-color: #00A9AC;
			border-radius: 5px;
			color: #fff;
			display: block;
			width: 49%;
			font-weight: bold;
			padding: 11px 0 10px 0;
			font-size: 1.6rem;

		}
	}
	.contactBox {
		display: flex;
		justify-content: space-between;
		padding-right: 15px;
		h4 {
			margin-bottom: 35px;
		}
	}
}

.p-privacy {
	.head {
		margin-bottom: 50px;
	}
	dl {
		margin-bottom: 35px;
	}
	dt {
		font-weight: bold;
		font-size: 1.6rem;
		margin-bottom: 10px;
	}
	dd {
		padding-left: 20px;
		ul {
			padding-left: 15px;
		}
	}
}

.p-faq {
	padding-bottom: 70px;
	dl {
		&.is-active {
			background-color: #FFF4E4;
		}
		padding: 40px;
		position: relative;
		
		&:before {
			position: absolute;
			content: "";
			width: 100%;
			left: 0;
			right: 0;
			top: -10px;
			bottom: 0;
			height: 19px;
			background: url(../../faq/images/line.png) no-repeat top left;
		}
		&:after {
			position: absolute;
			content: "";
			width: 100%;
			left: 0;
			right: 0;
			bottom: -10px;
			height: 19px;
			background: url(../../faq/images/line.png) no-repeat top left;
		}
		& ~ dl {
			&:before {
				background: none;
			}
		}
	}
	dt {
		display: flex;
		align-items: center;
		
		font-size: 2.1rem;
	}
	dd {
		display: flex;
		margin-top: 35px;
	}
	img {
		height: 100%;
		margin-right: 20px;
	}
}

.p-flow {
	.banner {
		margin-bottom: 30px;
	}
	.flowRight {
		h3 {
			text-align: right;
		}
		figure {
			float: left;
		}
		@include cf;
	}
	.flowLeft {
		h3 {
			text-align: left;
		}
		figure {
			float: right;
		}
		@include cf;
	}
	.flowContent {
		margin-top: 150px;
		margin-bottom: 150px;
	}
}
.p-about {
	.nav {
		span {
			font-size: 18px;
			margin-bottom: 10px;
			display: block;
		}
		ul {
			display: flex;
			justify-content: space-between;
			border-top:  2px dashed #FCB316;
			border-right: 2px dashed #FCB316;
			border-bottom: 2px dashed #FCB316;
			background: #fff;
		}
		li {
			border-left: 2px dashed #FCB316;
			width: calc(100%/4);
			text-align: center;
		}
		a {
			font-size: 14px;
			text-decoration: none;
			display: block;
			line-height: 65px;
			height: 65px;
			color: #000;
		}
	}
	h3 {
		margin: 50px 0;
	}
	.about01 {
		h4 {
			font-size: 18px;
			color: #00AAAD;
			font-weight: bold;
			margin-top: 25px;
		}
		.txt {
			margin-top: 45px;
		}
	}
	.about02 {
		margin-top: 215px;
		h4 {
			margin: 40px 0 20px;
		}
		dl {
			display: table;
			width: 100%;
		}
		dt {
			display: table-cell;
			width: 140px;
			text-align: right;
			line-height: 22px;
		}
		dd {
			display: table-cell;
			padding-left: 20px;
			line-height: 22px;
		}
		.map {
			margin-top: 155px;
		}
	}
}
.p-design{
	.div-design {
		padding: 28px 30px;
		h3 {
			margin-bottom: 30px;
		}
	}
	.list {
		
		position: relative;
		margin-top: 40px;
		&:after {
			content: "";
			background: url(../../design/images/bg02.png) repeat top center;
			width: 373px;
			height: 277px;
			position: absolute;
			top: 14px;
			right: 0;
		}
		h4 {
			font-size: 21px;
			padding-left: 24px;
			margin-top: -8px;
			span {
				font-size: 14px;
				margin-left: 4px;
			}
		}
		dl {
			position: relative;
			padding: 37px 35px;
			&:before {
				position: absolute;
				content: "";
				width: 100%;
				left: 0;
				right: 0;
				top: -10px;
				bottom: 0;
				height: 19px;
				background: url(../../faq/images/line.png) no-repeat top left;
			}
			&.is-active {
				background: url(../../design/images/bg01.png) repeat top center;
			}
		}
		dt {
			display: flex;
			align-items: center;
			margin-left: 15px;
		}
		dd {
			position: relative;
		}
	}
	.photo {
		position: relative;
		z-index: 9999;
		margin-top: 85px;
	}
}
.p-gallery {
	.nav {
		margin-bottom: 70px;
		span {
			font-size: 18px;
			margin-bottom: 10px;
			display: block;
		}
		ul {
			display: flex;
			justify-content: space-between;
			border-top:  2px dashed #FCB316;
			border-right: 2px dashed #FCB316;
			background: #fff;
			flex-wrap: wrap
		}
		li {
			border-left: 2px dashed #FCB316;
			border-bottom: 2px dashed #FCB316;
			width: calc(100%/4);
			text-align: center;
			&.active {
				background-color: #FFECCD;
			}
		}
		a {
			font-size: 14px;
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 65px;
			color: #000;
		}
	}
	.c-galleryList {
		background: url(../../gallery/images/line.png) no-repeat center bottom;
		padding-bottom: 25px;
		margin-bottom: 32px;
		h3 {
			margin-bottom: 25px;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				width: 233px;
				height: 155px;
				margin-bottom: 8px;
			}
		}
	}
	.content {
		span {
			color: #006598;
		}
	}
}